<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING｜後台管理系統</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="AddBanWin" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">新增黑名單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label for="menuName">電話號碼</label>
                                    <input placeholder="" type="tel" class="form-control"
                                        v-model="AddBan_data.mobileNumber" id="menuName" autocomplete="off">
                                    <div class="text-memo text-danger"
                                        v-if="AddBan_data.mobileNumber!=''&&AddBan_data.mobileNumber.length!=10">
                                        *電話號碼格式錯誤
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->

                        <button type="button" class="btn btn-primary" @click="AddBan"
                            :disabled="AddBan_data.mobileNumber.length!=10">確認新增</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>


            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="">Hi, {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                 <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-8 col-xl-7 mb-3">
                            <form class="Myinput-group" @submit.prevent="searchPhoneNum">
                                <input type="search" class="" placeholder="搜尋手機號碼" v-model="searchKeyword">

                                <button type="submit" class="btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-12 col-md-8 col-xl-7  mb-3">
                            <button class="btn btn-primary float-right" type="button" v-on:click="showAddBanWin">
                                新增
                            </button>
                        </div>
                        <div class="col-12 col-md-8 col-xl-7 ">
                            <table class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th class="longText">
                                            #
                                        </th>
                                        <th class="longText">
                                            帳號
                                        </th>
                                        <th class="longText">
                                            新增時間
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="Ban_data.length==0">
                                        <td colspan="4" class="text-center">
                                            沒有資料
                                        </td>
                                    </tr>
                                    <tr v-for="(item,index) in paginatedOrders" class="btnHover">
                                        <td class="longText">
                                            {{ (currentPage - 1) * pageSize + index + 1 }}
                                        </td>
                                        <td class="longText">{{item.mobileNumber}}</td>
                                        <td>
                                            {{returnTime(item.createDate)}}
                                            <div class="table-btn-div float-right">
                                                <button class="btn btn-sm btn-outline-secondary"
                                                    v-on:click="deletBan(item.mobileNumber)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-if="Ban_data.length>0" class="col-12 col-md-8 col-xl-7 ">
                            <ul class="pagination pagination-sm justify-content-center mt-3">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a href="#" class="page-link" @click.prevent="prevPage">&laquo;</a>
                                </li>

                                <li v-for="page in totalPages" :key="page" class="page-item"
                                    :class="{ active: currentPage === page }">
                                    <a href="#" class="page-link" @click.prevent="goToPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a href="#" class="page-link" @click.prevent="nextPage">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>
<script>
    checkUserInfo()
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '黑名單',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                searchKeyword: '',

                Ban_data: [{ mobileNumber: '', createDate: '' }],

                AddBan_data: { mobileNumber: '' },


                currentPage: currentPage, // 當前頁面
                pageSize: pageSize, // 每頁顯示筆數
            }
        },
        computed: {
            // 計算總頁數
            totalPages() {
                return Math.ceil(this.Ban_data.length / this.pageSize);
            },
            // 計算當前頁要顯示的訂單
            paginatedOrders() {
                const start = (this.currentPage - 1) * this.pageSize;
                return this.Ban_data.slice(start, start + this.pageSize);
            }
        },
        mounted() {
            var vue = this
            // console.log(this.storeInfo.storeId);

            apiWeb('api/Store/blacklist/' + storeId
                , 'GET', '', '取得黑名單列表', function (v) {
                    vue.Ban_data = v
                    // console.log(vue.Ban_data);
                    loadingOff()
                })
        },
        watch: {
        },
        methods: {
            showAddBanWin() {
                $('#AddBanWin').modal('show')
            },
            AddBan() {
                var vue = this
                // console.log(vue.storeInfo.store);
                // console.log(storeId + '/' + vue.AddBan_data.mobileNumber);
                apiWeb('api/Store/blacklist/' + storeId + '/' + vue.AddBan_data.mobileNumber, 'POST', null, '新增黑名單', function (v) {
                    if (v.status == 0) {
                        $('#AddBanWin').modal('hide')
                        window.location.href = 'BanList.html?sid=' + storeId
                    } else if (v.status == 1) {
                        $('#AddBanWin').modal('hide')
                        toastr.error("該用戶不存在");
                    } else {
                        GetDataError('新增黑名單')
                    }
                })
            },
            returnTime(dateStr) {
                return moment(dateStr).format("YYYY-MM-DD");
            },
            deletBan(num) {
                var vue = this
                // console.log(storeId + '/' + num);

                apiWeb('api/Store/blacklist/' + storeId + '/' + num, 'DELETE', null, '新增黑名單', function (v) {
                    if (v.message == "已成功將用戶從黑名單中移除") {
                        $('#AddBanWin').modal('hide')
                        window.location.href = 'BanList.html?sid=' + storeId
                    }
                })
            },
            // 切換到上一頁
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            // 切換到下一頁
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            // 跳轉到指定頁數
            goToPage(page) {
                this.currentPage = page;
            },
            searchPhoneNum() {
                apiWeb('api/Store/blacklist/search/' + storeId + '?keyword=' + this.searchKeyword, 'GET', null, '搜尋黑名單', function (v) {
                    // console.log(v);

                    if (v.success == true) {

                    }
                })
            }
        },
    });
    app.mount("#app");
</script>

</html>