<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="createCustomizeClass" tabindex="-1" role="dialog"
            aria-labelledby="reloginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel"><span>{{customizedEdit_Data.action}}</span>排序類別
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">客製化名稱</label>
                                    <input v-model="customizedEdit_Data.Data.templateName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">選擇種類</label>
                                    <div class="pl-4 d-inline-block">
                                        <input class="mr-2" type="radio" name="selectionType" value="0"
                                            v-model="customizedEdit_Data.Data.type" id="SingleSelection">
                                        <label for="SingleSelection" class="mr-3">單選</label>
                                        <input class="mr-2" type="radio" name="selectionType" value="1"
                                            v-model="customizedEdit_Data.Data.type" id="MultipleSelection">
                                        <label for="MultipleSelection">複選</label>
                                    </div>
                                </div>
                                <div class="form-group d-flex">
                                    <label>最少必須選</label>
                                    <!-- <input type="number" class="form-control form-control-sm w-25" :min="minChoices.min"
                                        :max="minChoices.max" :disabled="!minChoices.enabled"
                                        v-model="customizedEdit_Data.Data.minChoices"> -->
                                    <select class="form-control form-control-sm w-25"
                                        v-model="customizedEdit_Data.Data.minChoices" :disabled="!minChoices.enabled">
                                        <option v-for="n in (minChoices.max - minChoices.min + 1)" :key="n"
                                            :value="n + minChoices.min - 1">
                                            {{ n + minChoices.min - 1 }}
                                        </option>
                                    </select>
                                    <label>個選項</label>
                                    <label class="text-primary text-sm"
                                        v-if="customizedEdit_Data.Data.minChoices>=customizedEdit_Data.Data.options.length">(已達到最高數量)</label>
                                </div>
                                <div class="form-group d-flex">
                                    <label>最多可以選</label>
                                    <select class="form-control form-control-sm w-25"
                                        v-model="customizedEdit_Data.Data.maxChoices" :disabled="!maxChoices.enabled">
                                        <option v-for="n in (maxChoices.max - maxChoices.min + 1)" :key="n"
                                            :value="n + maxChoices.min - 1">
                                            {{ n + maxChoices.min - 1 }}
                                        </option>
                                    </select>
                                    <!-- <input type="number" class="form-control form-control-sm w-25" :min="maxChoices.min"
                                        :max="maxChoices.max" :disabled="!maxChoices.enabled"
                                        v-model="customizedEdit_Data.Data.maxChoices"> -->
                                    <label>個選項</label>
                                    <label class="text-primary text-sm"
                                        v-if="customizedEdit_Data.Data.maxChoices>=customizedEdit_Data.Data.options.length">(已達到最高數量)</label>
                                </div>
                                <div class="form-group">
                                    <label for="">必填項目</label>
                                    <div class="pl-4 d-inline-block">
                                        <input class="" type="checkbox" v-model="customizedEdit_Data.Data.required"
                                            id="defaultCheck1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">選擇項目</label>
                                    <p class="text-muted">可以在此增加客製化選項，EX：加珍珠、去冰...，提供給客人客製化餐點</p>
                                    <div class="input-group mb-1"
                                        v-for="(Options,optIndex) in customizedEdit_Data.Data.options">
                                        <input class="form-control" placeholder="名稱" v-model="Options.title">
                                        <div class="input-group-prepend input-group-append">
                                            <span class="input-group-text">
                                                NT $
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="價格，EX:20或-50" type="number"
                                            v-model="Options.extra" step="1">

                                        <div class="input-group-append"
                                            v-if="customizedEdit_Data.Data.options.length > 1">
                                            <button v-on:click="deleOpeion(optIndex)" class="btn btn-outline-secondary">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <a href="#" @click="addOptions">+ 新增一個選項</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <!-- <button type="button" class="btn btn-secondary" @click="delet"
                            v-if="customizedEdit_Data.action=='編輯'">刪除</button> -->
                        <button type="button" class="btn btn-primary" @click="add"
                            v-if="customizedEdit_Data.action=='新增'">確認新增</button>
                        <button type="button" class="btn btn-primary" v-if="customizedEdit_Data.action=='編輯'"
                            @click="save">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deletCustomizeClass" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">刪除客製化選項</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除客製化選項 <b>{{customizedEdit_Data.Data.templateName}} ?</b></p>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-danger" v-on:click="delet()">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>


            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-right mb-3">
                            <div class="dropdown">
                                <button class="btn btn-primary" @click="showAddCustomWin">
                                    新增
                                </button>
                            </div>
                        </div>
                        <div class="col-12 customizedList list-group" ref="customizedList">
                            <table class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            種類
                                        </th>
                                        <th>
                                            名稱
                                        </th>
                                        <th>
                                            選項
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(customzed,index) in paginatedOrders" :key="customzed.templateId"
                                        class="btnHover">
                                        <td class="">
                                            {{ (currentPage - 1) * pageSize + index + 1 }}
                                        </td>
                                        <td class="longText">
                                            <span class="" v-if="customzed.type==0">
                                                單選
                                            </span>
                                            <span class="" v-if="customzed.type==1">
                                                多選
                                            </span>
                                        </td>
                                        <td class="longText">
                                            {{customzed.templateName}}
                                        </td>
                                        <td>
                                            <span v-for="(option, optionIndex) in customzed.options" :key="optionIndex"
                                                class="me-2">
                                                {{ option.title }}<span
                                                    class="d-sm-none d-md-inline">(+{{option.extra}})</span>,
                                            </span>
                                            <div class="table-btn-div float-right">
                                                <button class="btn btn-outline-secondary btn-sm mr-2 "
                                                    @click="showDeletCustomWin(index)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button class="btn btn-primary btn-sm"
                                                    @click="showEditCustomWin(index)">
                                                    <i class="fas fa-pen"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div v-if="customizedData.length>0" class="col-12">
                            <ul class="pagination pagination-sm justify-content-center mt-3">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a href="#" class="page-link" @click.prevent="prevPage">&laquo;</a>
                                </li>

                                <li v-for="page in totalPages" :key="page" class="page-item"
                                    :class="{ active: currentPage === page }">
                                    <a href="#" class="page-link" @click.prevent="goToPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a href="#" class="page-link" @click.prevent="nextPage">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>

<script>
    checkUserInfo()
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '屬性管理',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                customizedData: [{
                    "templateId": '',
                    "templateName": "",
                    "type": null,
                    "required": false,
                    minChoices: 1,
                    maxChoices: 1,
                    "options": [
                        {
                            'title': '',
                            "extra": 0
                        }
                    ]
                }],
                customizedEdit_Data:
                {
                    action: '新增',
                    Data: {
                        templateName: '',
                        type: 1,
                        required: false,
                        minChoices: 0,
                        maxChoices: 1,
                        options: [{
                            title: '',
                            extra: ''
                        }]
                    }
                },

                minChoices: { min: 0, max: 0, enabled: false },
                maxChoices: { min: 0, max: 0, enabled: false },


                currentPage: currentPage, // 當前頁面
                pageSize: pageSize, // 每頁顯示筆數
            }
        },
        computed: {
            // 計算總頁數
            totalPages() {
                return Math.ceil(this.customizedData.length / this.pageSize);
            },
            // 計算當前頁要顯示的訂單
            paginatedOrders() {
                const start = (this.currentPage - 1) * this.pageSize;
                return this.customizedData.slice(start, start + this.pageSize);
            }
        },
        mounted() {
            this.getCustmizedList()
        },
        watch: {
            'customizedEdit_Data.Data.options': {
                deep: true,
                handler(newVal, oldVal) {
                    this.checkChoice();
                    // console.log(this.customizedEdit_Data);
                }
            }
        },
        methods: {
            getCustmizedList() {
                var vue = this
                apiWeb('api/Menu/attributes/list/' + storeId, 'GET', null, '獲得客製化選項', function (v) {
                    if (v.success == true) {
                        vue.customizedData = v.templates
                        // console.log(vue.customizedData);

                        loadingOff()
                    }
                })
            },

            // 轉換欄位大小寫
            capitalizeKeys(obj) {
                if (Array.isArray(obj)) {
                    return obj.map(item => this.capitalizeKeys(item));
                } else if (typeof obj === 'object' && obj !== null) {
                    return Object.keys(obj).reduce((acc, key) => {
                        let capitalizedKey = key.charAt(0).toUpperCase() + key.slice(1).toLowerCase();
                        acc[capitalizedKey] = this.capitalizeKeys(obj[key]);
                        return acc;
                    }, {});
                }
                return obj;
            },

            //新增的客製化
            showAddCustomWin() {
                this.customizedEdit_Data = {
                    action: '新增',
                    Data: {
                        templateName: '',
                        type: 1,
                        required: false,
                        minChoices: 0,
                        maxChoices: 1,
                        options: [{
                            title: '',
                            extra: '0'
                        }]
                    }
                }
                console.log(JSON.stringify(this.customizedEdit_Data));

                $('#createCustomizeClass').modal('show')
            },
            //確定新增
            add() {
                loadingOn()
                // var EditData = this.capitalizeKeys(this.customizedEdit_Data.Data)
                var AddData = this.customizedEdit_Data.Data
                AddData.group = ''
                var vue = this
                apiWeb('/api/Menu/attributes/' + storeId + '/add', "POST", JSON.stringify(AddData), '新增客製化', function (v) {
                    if (v.success == true) {
                        toastr.success('新增成功');
                        location.reload()
                    } else if (v.message == '已存在，請使用不同的名稱') {
                        toastr.error("已存在客製化名稱");
                    } else {
                        toastr.error("新增失敗");
                    }
                    $('#createCustomizeClass').modal('hide')
                })
            },


            //編輯客製化
            showEditCustomWin(index) {
                // console.log(index);

                this.customizedEdit_Data = {
                    action: '編輯',
                    Data: JSON.parse(JSON.stringify(this.customizedData[index])),
                }
                // console.log(JSON.stringify(this.customizedEdit_Data));

                $('#createCustomizeClass').modal('show')
            },
            save() {
                loadingOn()
                var EditData = this.customizedEdit_Data.Data
                console.log(JSON.stringify(EditData));

                EditData.group = ''
                var vue = this
                apiWeb('api/Menu/attributes/' + storeId + '/' + this.customizedEdit_Data.Data.templateId, 'PUT', JSON.stringify(EditData), '修改客製化選項', function (v) {
                    if (v.success == true) {
                        toastr.success('修改完成');
                        location.reload()
                    } else {
                        toastr.error("修改失敗");
                    }
                    $('#createCustomizeClass').modal('hide')
                })
            },



            //刪除客製化
            showDeletCustomWin(index) {
                this.customizedEdit_Data = {
                    action: '刪除',
                    Data: this.customizedData[index],
                }
                $('#deletCustomizeClass').modal('show')
            },
            delet() {
                loadingOn()
                var vue = this
                // console.log(this.customizedEdit_Data.Data.templateId);
                apiWeb('/api/Menu/attributes/' + storeId + '/' + this.customizedEdit_Data.Data.templateId, "DELETE", null, '刪除客製化', function (v) {
                    if (v.success == true) {
                        toastr.success('刪除成功');
                        location.reload()
                    } else if (v.message == "無法刪除屬性模板，因為它正在被餐點使用") {
                        toastr.error("該客製化選項正在使用中，無法被刪除");
                    } else {
                        toastr.error("刪除失敗");
                    }
                    $('#deletCustomizeClass').modal('hide')
                })
            },

            //新增選項
            addOptions() {
                this.customizedEdit_Data.Data.options.push(
                    {
                        title: '',
                        extra: '0'
                    }
                )

                console.log(this.customizedEdit_Data.Data.options);
            },
            deleOpeion(index) {
                this.customizedEdit_Data.Data.options.splice(index, 1);
            },


            // 切換到上一頁
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            // 切換到下一頁
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            // 跳轉到指定頁數
            goToPage(page) {
                this.currentPage = page;
            },

            checkChoice() {
                let data = this.customizedEdit_Data.Data
                // minChoices: { min: 0, max: 0 },
                // maxChoices: { min: 0, max: 0 },

                // console.log(data);


                let vue = this
                let length = data.options.length
                // 單選非必選
                if (data.type == 0 && data.required == false) {
                    // console.log('單選非必選');

                    //預設值
                    data.maxChoices = 1
                    data.minChoices = 0

                    // 最小選項數量的最小/大值
                    vue.minChoices.min = 0
                    vue.minChoices.max = 1
                    vue.minChoices.enabled = false

                    // 最大選項數量的最小/大值
                    vue.maxChoices.min = 0
                    vue.maxChoices.max = 1
                    vue.maxChoices.enabled = false
                }
                // 單選必選
                else if (data.type == 0 && data.required == true) {
                    // console.log('單選必選');

                    //預設值
                    data.maxChoices = 1
                    data.minChoices = 1

                    // 最小選項數量的最小/大值
                    vue.minChoices.min = 1
                    vue.minChoices.max = 1
                    vue.minChoices.enabled = false

                    // 最大選項數量的最小/大值
                    vue.maxChoices.min = 1
                    vue.maxChoices.max = 1
                    vue.maxChoices.enabled = false
                }
                //複選非必選
                else if (data.type == 1 && data.required == false) {
                    // console.log('複選非必選');

                    //預設值
                    data.maxChoices = length
                    data.minChoices = 0

                    // 最小選項數量的最小/大值
                    vue.minChoices.min = 0
                    vue.minChoices.max = length
                    vue.minChoices.enabled = true

                    // 最大選項數量的最小/大值
                    vue.maxChoices.min = data.minChoices
                    vue.maxChoices.max = length
                    vue.maxChoices.enabled = true
                }
                // 複選必選
                else if (data.type == 1 && data.required == true) {
                    // console.log('複選必選');

                    //預設值
                    data.maxChoices = length
                    data.minChoices = 1

                    // 最小選項數量的最小/大值
                    vue.minChoices.min = 1
                    vue.minChoices.max = length
                    vue.minChoices.enabled = true


                    // 最大選項數量的最小/大值
                    vue.maxChoices.min = 1
                    vue.maxChoices.max = length
                    vue.maxChoices.enabled = true

                }
            },
        },

    });
    app.mount("#app");
</script>

</html>