<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING｜後台管理系統</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js?v101"></script>
    <link rel="stylesheet" href="css/share.css?v101" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="deletMenuModal" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">刪除菜單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除菜單 <b>{{DeletMenuDate.menuName}}?</b></p>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-danger" v-on:click="delettMenu()">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createMenuModal" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">新增菜單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-5">
                                    <label for="menuName">菜單名稱</label>
                                    <input placeholder="EX：早餐菜單" type="text" class="form-control"
                                        v-model="createMenuDate.menuName" id="menuName">
                                    <div class="text-memo text-danger formHint" style="position: absolute;"
                                        v-if="createMenuDate.menuName.length>10">
                                        *菜單名稱最多10個字
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" :disabled="!creatrBtnCheck"
                            v-on:click="addMenu">確認新增</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ActiveMenuModal" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">啟用菜單
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否啟用菜單 <b>{{ActiveMenuDate.menuName}}?</b>，系統將自動將其他菜單停用</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="ActiveMenu()">
                            確認啟用</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cloneMenuModal" tabindex="-1" role="dialog" aria-labelledby="cloneMenuLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cloneMenuLabel">複製菜單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-2">來源菜單：<b>{{CloneMenuData.sourceMenuName}}</b></p>
                        <div class="form-group">
                            <label for="cloneMenuName">新菜單名稱（可留空）</label>
                            <input id="cloneMenuName" type="text" class="form-control" v-model="CloneMenuData.targetMenuName"
                                   placeholder="未填則預設為 原名稱_複製，自動避開重複">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="cloneMenu">確認複製</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>

            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="">Hi, {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12" v-if="!menuList.length>0">
                            <div class="emptyImage1 emptyImage"></div>
                            <p class="text-center">尚未新增菜單，前往<button class="ml-2 btn btn-primary" type="button"
                                    v-on:click="showCreateMenuModal">
                                    新增菜單
                                </button></p>
                        </div>
                        <div class="col-12 mb-3" v-if="menuList.length>0">
                            <button class="btn btn-primary float-right" type="button" v-on:click="showCreateMenuModal">
                                新增菜單
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="row m-0">
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 item"
                                    v-for="(item,index) in menuList" key="item.menuId">
                                    <div class="card">
                                        <div class="card-body btnHover">
                                            <div class="float-right d-inline-block" :id="'active-'+item.menuId">
                                                <h5 v-if="item.isActive" class=" text-success">
                                                    <i class="fas fa-check-circle"></i>
                                                </h5>
                                                <h5 v-if="!item.isActive" class=" text-danger">
                                                    <i class="fas fa-minus-circle"></i>
                                                </h5>
                                            </div>
                                            <h4>
                                                <i class="fas fa-apple-alt mr-2"></i>{{item.menuName}}
                                            </h4>
                                            <p class="card-text text-muted pl-2">{{item.description||''}}</p>
                                            <div class="text-right table-btn-div">
                                                <button :id="'active-'+item.menuId" :data-id="item.menuId"
                                                    :data-name="item.menuName" :data-active="item.isActive"
                                                    @click="changeActive(item.menuId,item.menuName)"
                                                    v-if="!item.isActive"
                                                    class="btn btn-sm btn-outline-success mr-2 d-inline-block">
                                                    <i class="fas fa-lock-open mr-2"></i>啟用
                                                </button>
                                                <button :id="'del-'+item.menuId" :data-id="item.menuId"
                                                    :data-name="item.menuName" v-if="menuList.length>1"
                                                    class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                                    v-on:click="showDeletModal(item.menuId)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button :id="'edit-'+item.menuId" :data-id="item.menuId"
                                                    :data-name="item.menuName"
                                                    class="btn btn-sm btn-secondary d-inline-block"
                                                    v-on:click="selectMenu(item.menuId)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button :id="'clone-'+item.menuId" :data-id="item.menuId"
                                                    :data-name="item.menuName"
                                                    class="btn btn-sm btn-outline-primary d-inline-block ml-2"
                                                    v-on:click="showCloneModal(item.menuId)">
                                                    <i class="fas fa-copy"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
</body>
<script>
    checkUserInfo()

    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '菜單',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                menuList: [{
                    "menuId": '',
                    "menuName": "''",
                    "isActive": false,
                    "createdDate": "",
                    "itemCount": 0
                }],
                createMenuDate: {
                    "StoreId": storeId,
                    "menuName": '',
                    "isActive": false
                },
                DeletMenuDate: {
                    "menuId": '',
                    "menuName": "''",
                },
                ActiveMenuDate: {
                    "menuId": '',
                    "menuName": "''",
                    enabled: true
                },
                CloneMenuData: {
                    sourceMenuId: '',
                    sourceMenuName: '',
                    targetMenuName: ''
                }

            }
        },
        computed: {
            creatrBtnCheck() {
                if (this.createMenuDate.menuName != '') {
                    if (this.createMenuDate.menuName.length <= 10) {
                        return true
                    }
                    else {
                        return false
                    }
                } else {
                    return false
                }
            }
        },
        mounted() {
            this.getMenuList()
        },
        watch: {
        },
        methods: {
            getMenuList() {
                var vue = this
                apiWeb('/api/Menu/menu/list/' + storeId, 'GET', null, '取得菜單資訊', function (v) {
                    if (v.success == true) {
                        vue.menuList = v.menus
                        loadingOff()
                    }
                })
            },
            addMenu() {
                loadingOn()
                console.log(this.createMenuDate);
                if (this.menuList.length == 0) {
                    this.createMenuDate.isActive = true
                }

                console.log(this.createMenuDate);


                apiWeb('/api/Menu/menu/' + storeId + '/add', "POST", JSON.stringify(this.createMenuDate), '新增菜單', function (v) {
                    if (v.success == true) {
                        location.reload();
                    } else {
                        toastr.error(TimelogTag + "新增失敗");
                    }
                })
            },
            //建立Modal
            showCreateMenuModal() {
                $('#createMenuModal').modal('show')
            },
            //選擇菜單
            selectMenu(id) {
                window.location.href = 'MenuPage.html?sid=' + storeId + '&mid=' + id;
            },
            delettMenu(id) {
                loadingOff()
                apiWeb('/api/Menu/menu/' + storeId + '/' + this.DeletMenuDate.menuId, 'DELETE', null, '刪除菜單', function (v) {
                    location.reload();
                })
            },
            showDeletModal(id) {
                this.DeletMenuDate.menuId = $('#del-' + id).attr('data-id')
                this.DeletMenuDate.menuName = $('#del-' + id).attr('data-name')
                // console.log(this.DeletMenuDate);

                $('#deletMenuModal').modal('show')
            },
            showCloneModal(id) {
                this.CloneMenuData.sourceMenuId = $('#clone-' + id).attr('data-id')
                this.CloneMenuData.sourceMenuName = $('#clone-' + id).attr('data-name')
                this.CloneMenuData.targetMenuName = ''
                $('#cloneMenuModal').modal('show')
            },
            cloneMenu() {
                loadingOn()
                const body = {
                    sourceMenuId: this.CloneMenuData.sourceMenuId
                }
                if ((this.CloneMenuData.targetMenuName || '').trim() !== '') {
                    body.targetMenuName = this.CloneMenuData.targetMenuName.trim()
                }
                apiWeb('/api/Menu/menu/' + storeId + '/copy', 'POST', JSON.stringify(body), '複製菜單', function (v) {
                    if (v.success === true || v.Success === true) {
                        location.reload();
                    } else {
                        toastr.error('複製失敗')
                        loadingOff()
                    }
                })
            },
            changeActive(id, name) {
                this.ActiveMenuDate.menuId = id
                this.ActiveMenuDate.menuName = name
                // this.ActiveMenuDate.enabled = status
                // console.log(this.ActiveMenuDate);
                $('#ActiveMenuModal').modal('show')
            },
            ActiveMenu() {
                loadingOff()
                apiWeb('api/Menu/menu/' + storeId + '/activate/' + this.ActiveMenuDate.menuId, 'POST', null, '啟用菜單', function (v) {
                    location.reload();
                })
            }

        },
    });
    app.mount("#app");
</script>

</html>