<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- Sortable -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <div id="app" class="wrapper">

        <div class="modal fade" id="EditTitleModal" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">更改菜單名稱
                        </h5>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" v-model="menuName">
                        <p class="text-danger" v-if="menuName.length>10">* 不能超過10個字</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="save()"
                            :disabled="menuName.length>10">
                            儲存</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>


            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                {{PageTitle}}
                                <button type="button" class="btn btn-sm btn-primary" v-on:click="showEditTitleModal">
                                    <i class="fas fa-pen"></i>
                                </button>
                            </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 py-3 d-none">
                            <h6>編輯項目</h6>
                            <div class="row m-0">
                                <div class=" col-12 col-md-4 col-xl-3 item mb-1" @click="showSortClassWin()"
                                    data-widget="control-sidebar">
                                    <div class="border rounded-lg p-3">
                                        <h5>
                                            <i class="fas fa-sort-amount-up-alt mr-2"></i>
                                            排序類別
                                        </h5>
                                        <p class="text-muted m-0 ml-4 pl-2">訂單排序設定</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-xl-3 item mb-1" @click="showProductorWin()"
                                    data-widget="control-sidebar">
                                    <div class="border rounded-lg p-3">
                                        <h5>
                                            <i class="fas fa-utensils mr-2"></i>
                                            類別及品項管理
                                        </h5>
                                        <p class="text-muted m-0 ml-4 pl-2">編輯菜單內容</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div v-if="profuct_Data.length==0">
                                <div class="emptyImage emptyImage2"></div>
                                <p class="text-center">尚未新增餐點分類，前往
                                    <button class="ml-2 btn btn-primary" type="button" @click="toAddProductors">
                                        新增分類及品項
                                    </button>
                                </p>
                            </div>
                            <div class="card card-primary card-outline card-outline-tabs" v-if="profuct_Data.length>0">
                                <div class="card-header p-0 border-bottom-0">
                                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                        <li class="nav-item" v-for="(className,index) in profuct_Data">
                                            <a class="nav-link" :class="{ 'active': index == 0 }"
                                                :id="'tab-'+className.categoryId" data-toggle="pill"
                                                :href="'#tab-content-'+className.categoryId" role="tab"
                                                aria-controls="custom-tabs-four-home"
                                                aria-selected="true">{{className.categoryName
                                                }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-four-tabContent">
                                        <div v-for="(className,index) in profuct_Data" class="tab-pane fade show"
                                            :class="{ 'active': index == 0 }" :id="'tab-content-'+className.categoryId"
                                            role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                            <div class="list-group">
                                                <div class="d-flex align-items-center py-2 list-group-item"
                                                    v-for="(prod,pindex) in className.meals">
                                                    <div class="d-flex justify-content-center"
                                                        style="width: 50px; overflow: hidden;">
                                                        <img :src="prod.image" class="border" height="50px"
                                                            width="50px">
                                                    </div>
                                                    <div class="pl-3">
                                                        <div class="text-bold">{{prod.name}}</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox"
                                                                @change="changeProd(prod.mealId,prod.enabled)"
                                                                class="custom-control-input" v-model="prod.enabled"
                                                                :id="'prod-'+prod.mealId">
                                                            <label class="custom-control-label text-danger m-0 ml-2"
                                                                :for="'prod-'+prod.mealId"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-if="className.meals.length==0">
                                                    <div class="emptyImage emptyImage2"></div>
                                                    <p class="text-center">尚未新增餐點品項，前往
                                                        <button class="ml-2 btn btn-primary" type="button"
                                                            @click="toAddProductors">
                                                            新增分類及品項
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
</body>


<script>
    checkUserInfo()

    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '菜單',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                menuInfo_DataEdit: {
                    "menuId": "",
                    "storeId": "",
                    "menuName": "",
                    "isActive": false,
                    "createdDate": "",
                    "categories": []
                },
                menuName: '',
                profuct_Data: []

            }
        },
        computed: {
        },
        mounted() {
            this.getMenuInfo()
        },
        watch: {
        },
        methods: {
            getMenuInfo() {
                var vue = this
                apiWeb('/api/Menu/menu/' + storeId + '/' + menuId, 'GET', null, '獲得菜單詳情', function (v) {
                    vue.menuInfo_DataEdit = v.menu
                    vue.profuct_Data = v.menu.categories
                    vue.PageTitle = v.menu.menuName
                    vue.menuName = v.menu.menuName
                    //console.log(vue.profuct_Data[0].meals[0].enabled);
                    loadingOff()
                })
            },
            save() {
                apiWeb('api/Menu/menu/' + storeId + '/' + menuId, 'PUT', JSON.stringify({ MenuName: this.menuName }), '菜單改名', function (v) {
                    if (v.success == true) {
                        $('#EditTitleModal').modal('hide')
                        location.reload();
                        toastr.success("修改成功");
                    } else {
                        toastr.error("修改失敗");
                    }
                })
            },
            changeProd(id, status) {
                console.log(id, status);
                var changeData = {
                    "Enabled": status
                }
                apiWeb('api/Menu/menu/' + storeId + '/' + menuId + '/meal/' + id + '/status', 'PATCH', JSON.stringify(changeData), '變更餐點狀態', function (v) {
                    if (v.success == true) {
                        if (status == true) {
                            toastr.success("已上架餐點");
                        } else {
                            toastr.success("已下架餐點");
                        }
                    } else {
                        toastr.error("餐點狀態變更失敗");
                    }
                })
            },
            showEditTitleModal() {
                $('#EditTitleModal').modal('show')
            },
            toAddProductors() {
                window.location.href = "Productor.html?sid=" + storeId
            }
        },
    });
    app.mount("#app");
</script>

</html>