<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="AddBanWin" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">新增黑名單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>是否將 <span
                                class="text-primary">{{showOrderInfo.memberName}}({{showOrderInfo.memberNumber}})</span>
                            加入黑名單，他將無法下單該商店，直到移出黑名單
                        </h6>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->

                        <button type="button" class="btn btn-primary" @click="AddBan">確認加入黑名單</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="OrderInfo" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <p class="text-muted text-sm m-0">{{showOrderInfo.no}}</p>
                            <h5 class="modal-title m-0" id="reloginModalLabel">
                                訂單資訊 <span class="text-primary">#{{showOrderInfo.pickupNumber}}</span>
                            </h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0">
                            <div class="col-12 col-md-6 col-lg-6 p-3 mb-2">
                                <h6>訂購人資訊</h6>
                                <div class="mb-3">
                                    <p class="m-0">
                                        <span class="text-muted">
                                            {{showOrderInfo.subscriberNumber}}
                                        </span>
                                    </p>
                                    <h3 class="m-0">
                                        {{showOrderInfo.subscriberName}}
                                    </h3>

                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 p-3 mb-2">
                                <h6>帳號資訊</h6>
                                <div class="mb-3">
                                    <p class="m-0">
                                        <span class="text-muted">
                                            <!-- <i class="fas fa-mobile-alt"></i>： -->
                                            {{showOrderInfo.memberNumber}}
                                        </span>
                                    </p>
                                    <h3 class="m-0">
                                        {{showOrderInfo.memberName}}
                                        <button class="btn btn-sm btn-default" data-toggle="tooltip"
                                            v-on:click="showBanWIn" data-placement="top" title="封鎖該帳號">
                                            <!-- <i class="fas fa-user-slash"></i> -->
                                            <i class="fas fa-ban"></i>
                                        </button>
                                    </h3>

                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 p-3 mb-2 bg-light">

                                <h5>
                                    訂單資訊
                                    <span class="text-sm text-muted m-0">
                                        ({{showOrderInfo.createDate}}
                                        {{showOrderInfo.createTime}})
                                    </span>
                                </h5>
                                <div class="row m-0 py-3">
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-store" id=""></i>
                                                店家
                                            </div>
                                            <h6 class="ml-3">{{showOrderInfo.storeName}}</h6>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-coins"></i>
                                                付款方式
                                            </div>
                                            <h6 class="ml-3" v-if="showOrderInfo.paymentMethods=='cash'">
                                                現金
                                            </h6>
                                        </div>

                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-clipboard-list"></i>
                                                取餐號
                                            </div>
                                            <h6 class="ml-3">#{{showOrderInfo.pickupNumber}}</h6>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-file-invoice"></i>
                                                訂單狀態
                                            </div>
                                            <h6 class="ml-3">
                                                <span v-if="showOrderInfo.status==1" class="text-success">
                                                    <i class="fas fa-check-square mr-1"></i>
                                                    訂單成立
                                                </span>
                                                <span v-if="showOrderInfo.status==2" class="text-danger">
                                                    <i class="fas fa-exclamation-circle mr-1"></i>
                                                    訂單取消
                                                </span>
                                            </h6>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-clock"></i>
                                                取餐時間
                                            </div>
                                            <h6 class="ml-3">{{showOrderInfo.appointmentDate}}
                                                {{showOrderInfo.appointmentTime}}</h6>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-shopping-bag"></i>
                                                取餐方式
                                            </div>
                                            <h6 class="ml-3">
                                                自取
                                            </h6>
                                        </div>
                                        <!-- <div class="form-group mb-3">
                                            <div class="text-muted text-sm">
                                                <i class="fas fa-dollar-sign"></i>
                                                訂單金額
                                            </div>
                                            <h6 class="ml-3">${{showOrderInfo.price}}</h6>
                                        </div> -->
                                    </div>
                                    <div class="col-12 py-3" v-if="showOrderInfo.status==1">
                                        <button class="btn btn-danger float-right"
                                            @click="showCancelOrder">取消訂單</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3 mb-2 bg-light">
                                <h5>訂單內容</h5>
                                <table class="table table-bordered table-hover">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                品項
                                            </th>
                                            <th>
                                                數量
                                            </th>
                                            <th>
                                                小記
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(productor,proIndex) in showOrderInfo.mealSummary">
                                            <td>
                                                {{proIndex+1}}
                                            </td>
                                            <td>
                                                <h6>
                                                    {{productor.mealname}}
                                                </h6>
                                                <div class="text-sm">
                                                    <!-- <span v-for="(custom,cusIndex) in productor.options">
                                                        {{custom.title}}(${{custom.extra}}), </span> -->
                                                    <span>
                                                        {{productor.description }}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                {{productor.count}}
                                            </td>
                                            <td>
                                                {{productor.totalPrice}}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="10">
                                                <span>
                                                    <!-- <i class="fas fa-dollar-sign"></i> -->
                                                    總金額（共{{showOrderInfo.totalItems}}項）
                                                </span>
                                                <span class="text-bold float-right">${{showOrderInfo.price}}</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="CancelOrder" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">取消訂單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否取消訂單
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->

                        <button type="button" class="btn btn-danger" @click="cancelOrder">確認取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>

            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                 <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <form class="col-12 p-3 border mb-3 bg-white" @submit.prevent="getList">
                            <h5><i class="fas fa-search mr-2"></i>搜尋條件</h5>
                            <div class="row">
                                <div class="form-group col-12 col-md-12 col-lg-4">
                                    <label>訂單日期範圍</label>
                                    <input id="daterange" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-12 col-lg-4">
                                    <label>訂購人姓名</label>
                                    <input v-model="searchData.subscribername" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-12 col-lg-4">
                                    <label>訂購人電話</label>
                                    <input v-model="searchData.subscribernumber" class="form-control">
                                </div>
                            </div>
                            <button type="submit" style="display:none;"></button>
                        </form>
                        <div class="col-12 p-0">
                            <table class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th class="longText">
                                            #
                                        </th>
                                        <th class="longText">
                                            訂單碼
                                        </th>
                                        <th class="longText">
                                            訂餐人
                                        </th>
                                        <th class="longText">
                                            狀態
                                        </th>
                                        <th class="longText">
                                            總金額
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="Order_data.length==0">
                                        <td colspan="5" class="text-center">
                                            沒有資料
                                        </td>
                                    </tr>
                                    <tr v-for="(Orders, OrderIndex) in paginatedOrders" :key="Orders.id"
                                        @click="showOrderInfoWin((currentPage - 1) * pageSize + OrderIndex)">
                                        <td class="longText">
                                            {{ (currentPage - 1) * pageSize + OrderIndex + 1 }}
                                        </td>
                                        <td class="longText text-sm">
                                            <p class="text-primary text-bold m-0">#{{Orders.pickupNumber}}</p>
                                            {{getEnd(Orders.no)}}
                                        </td>
                                        <td class="longText">
                                            <p class="text-sm text-muted m-0">
                                                {{Orders.subscriberNumber}}
                                            </p>
                                            {{Orders.subscriberName}}
                                        </td>
                                        <td class="longText">
                                            <div data-toggle="tooltip" data-placement="top" title="訂單成立"
                                                v-if="Orders.status==1"
                                                class=" d-flex justify-content-start align-items-center text-success">
                                                <i class="fas fa-check-square mr-1"></i>
                                                <span class="d-none d-md-inline">訂單成立</span>
                                            </div>
                                            <div data-toggle="tooltip" data-placement="top" title="訂單取消"
                                                v-if="Orders.status==2"
                                                class=" d-flex justify-content-start align-items-center text-danger">
                                                <i class="fas fa-exclamation-circle mr-1"></i>
                                                <span class="d-none d-md-inline">訂單取消</span>
                                            </div>
                                        </td>
                                        <td class="longText"> $ {{Orders.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-if="Order_data.length>0" class="col-12">
                            <ul class="pagination pagination-sm justify-content-center mt-3">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a href="#" class="page-link" @click.prevent="prevPage">&laquo;</a>
                                </li>

                                <li v-for="page in totalPages" :key="page" class="page-item"
                                    :class="{ active: currentPage === page }">
                                    <a href="#" class="page-link" @click.prevent="goToPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a href="#" class="page-link" @click.prevent="nextPage">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>
<script>
    checkUserInfo()

    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '訂單記錄',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                Order_data: [],

                showOrderInfo: {
                    "no": "",
                    "name": "",
                    "status": "",
                    "price": 0,
                    "storeName": "",
                    "paymentMethods": "",
                    "pickupNumber": "",
                    "storeId": "",
                    "memberId": "",
                    "memberName": "",
                    "statusName": "",
                    "createDate": "",
                    "createTime": "",
                    "orderTime": "",
                    "appointmentDate": "",
                    "appointmentTime": "",
                    "discount": 0,
                    "menu": "}",
                    "isTableware": true,
                    "remark": "",
                    "bag": 0,
                    "subscriberName": "",
                    "subscriberNumber": "",
                    "storePhone": "",
                    "orderInterval": 0,
                    "storeEnable": true,
                    "storeDeleted": false,
                    "slotLimit": 0,
                    "minimumOrderAmount": "",
                    "minimumOrderText": ""
                },

                searchData: {
                    "storeid": storeId, //必填 商家ID
                    "memberid": "", //會員ID
                    "No": "", //單號
                    "subscribername": "", // 訂購人姓名
                    "subscribernumber": "", // 訂購人電話
                    "membername": "", //會員姓名
                    "membernumber": "", //會員電話
                    startdatetime: moment().subtract(6, 'days').format('YYYY-MM-DD') + ' 00:00:00', // 開始日期 00:00:00
                    enddatetime: moment().format('YYYY-MM-DD') + ' 23:59:59' // 結束日期 23:59:59
                },

                currentPage: currentPage, // 當前頁面
                pageSize: pageSize, // 每頁顯示筆數
            }
        },
        computed: {
            // 計算總頁數
            totalPages() {
                return Math.ceil(this.Order_data.length / this.pageSize);
            },
            // 計算當前頁要顯示的訂單
            paginatedOrders() {
                const start = (this.currentPage - 1) * this.pageSize;
                return this.Order_data.slice(start, start + this.pageSize);
            }
        },
        mounted() {
            $('[data-toggle="tooltip"]').tooltip();

            var vue = this

            $("#daterange").daterangepicker({
                locale: {
                    format: 'YYYY-MM-DD',
                    applyLabel: '確定',
                    cancelLabel: '取消',
                    customRangeLabel: '自訂區間',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    firstDay: 1
                },
                ranges: {
                    '今日': [moment(), moment()],
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '近七天': [moment().subtract(6, 'days'), moment()],
                    '當月': [moment().startOf('month'), moment().endOf('month')],
                    '當季': [
                        moment().startOf('quarter'),
                        moment().endOf('quarter')
                    ],
                    '當年': [moment().startOf('year'), moment().endOf('year')]
                },
                opens: 'left',  // 設置日期選擇框的位置
                // timePicker: true,  // 啟用時間選擇
                // timePicker24Hour: true,  // 使用 24 小時制
                timePickerIncrement: 30,  // 時間步長
                alwaysShowCalendars: true,  // 顯示日曆（即使在沒有選擇日期的情況下）
                showCustomRangeLabel: false,  // 隱藏 "自訂範圍" 標籤
                startDate: moment().subtract(6, 'days'),  // 預設開始日期
                endDate: moment(),  // 預設結束日期
                autoApply: true,  // 選擇日期後自動應用
                maxDate: moment(),  // 最大日期設為當前日期
                singleDatePicker: false,  // 設置為範圍選擇器

            }, function (start, end) {
                vue.searchData.startdatetime = start.format('YYYY-MM-DD') + ' 00:00:00'
                vue.searchData.enddatetime = end.format('YYYY-MM-DD') + ' 23:59:59'
                vue.getList()
            })

            this.getList()
        },
        watch: {
        },
        methods: {
            showOrderInfoWin(index) {
                // console.log(index);
                this.showOrderInfo = this.Order_data[index]
                let vue = this
                apiWeb('api/store/order/detail/' + this.Order_data[index].no, 'POST', null, '獲得詳細資訊', function (v) {
                    vue.showOrderInfo.mealSummary = v.orderDetail.mealSummary

                    $('#OrderInfo').modal('show')
                })
                // console.log(this.showOrderInfo);

            },
            showBanWIn() {
                $('#OrderInfo').modal('hide')
                $('#AddBanWin').modal('show')
            },
            getList() {
                loadingOn()
                let vue = this
                // console.log(vue.searchData);

                apiWeb('/api/store/order/list', 'POST', JSON.stringify(vue.searchData), '取得訂單列表', function (v) {
                    vue.Order_data = v.orders
                    loadingOff()
                })
            },
            AddBan() {
                // console.log(this.showOrderInfo.memberNumber);

                apiWeb('api/Store/blacklist/' + storeId + '/' + this.showOrderInfo.memberNumber, 'POST', '', '新增黑名單', function (v) {
                    if (v.status == 0) {
                        $('#AddBanWin').modal('hide')
                        // window.location.href = 'BanList.html?sid=' + storeId
                        toastr.success("新增黑名單成功");
                        loadingOff()
                    } else if (v.status == 1) {
                        $('#AddBanWin').modal('hide')
                        toastr.error("該用戶不存在或已加入黑名單");
                    } else {
                        GetDataError('新增黑名單')
                    }
                    $('#OrderInfo').modal('show')
                    $('#AddBanWin').modal('hide')
                })

            },
            // 切換到上一頁
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            // 切換到下一頁
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            // 跳轉到指定頁數
            goToPage(page) {
                this.currentPage = page;
            },
            getEnd(str) {
                return str.slice(-5);
            },

            //取消訂單
            showCancelOrder() {
                $('#OrderInfo').modal('hide')
                $('#CancelOrder').modal('show')
            },
            cancelOrder() {
                loadingOn()
                let vue = this
                apiWeb('/api/store/order/cancel/' + this.showOrderInfo.no, 'POST', null, '取消訂單', function (v) {
                    if (v.message == 'cancel successful') {
                        toastr.success("訂單取消成功");
                        $('#CancelOrder').modal('hide')
                        vue.getList()
                    } else {
                        toastr.error("訂單取消失敗");
                    }
                })
            }
        },
    });


    app.mount("#app");
</script>

</html>