<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- tom-select -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.4.1/css/tom-select.bootstrap4.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <!-- Cropper.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.2/jquery-cropper.min.js"></script>
    <!-- <script src="js/jquery-cropper.min.js"></script> -->

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>

    </style>
</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- <div class="container mt-4">
            <h5>裁剪後的 Base64 圖片：</h5>
            <img v-if="croppedImage" :src="croppedImage" class="img-thumbnail">
            <textarea v-if="croppedImage" class="form-control mt-3" rows="5" readonly>{{ croppedImage }}</textarea>
        </div> -->
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="ProductoDel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">刪除品項</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除品項 <b>{{AddProductor_data.data.name}}?</b></p>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-danger" v-on:click="deletProductor()">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ProductorEdit" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">
                            <span>{{AddProductor_data.userAction}}</span>
                            品項
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row m-0">
                            <div class="col-12 bg-light p-3 mb-2">
                                <h5 class="mb-3">品項內容</h5>
                                <div class="row flex-row-reverse m-0 align-items-stretch">
                                    <div class="col-12 col-lg-4 p-1">
                                        <label class="m-0">
                                            品項圖片
                                        </label>
                                        <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1"
                                            style="overflow: hidden;"
                                            :class="{'unknowIMG':AddProductor_data.data.image==''}">
                                            <img id="ProductorImage" class="border w-100"
                                                :src="AddProductor_data.data.image">
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile"
                                                @change="handleFileUpload" accept=".jpg,.jpeg,.png">
                                            <label class="custom-file-label" for="exampleInputFile">
                                                更換圖片
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-8 p-1">
                                        <div class="form-group mb-3">
                                            <label class="m-0">
                                                品項名稱<span class="text-danger">*</span>
                                            </label>
                                            <input class="form-control" placeholder="品項名稱"
                                                v-model="AddProductor_data.data.name">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="m-0">
                                                品項敘述
                                            </label>
                                            <textarea class="form-control" placeholder="品項敘述"
                                                v-model="AddProductor_data.data.remark"></textarea>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="m-0">
                                                品項分類<span class="text-danger">*</span>
                                            </label>
                                            <select v-model="AddProductor_data.data.categoryId" class="form-control">
                                                <option value="" disabled v-if="AddProductor_data.userAction==='新增'">
                                                    --請選擇 --
                                                </option>
                                                <option v-for="(classList,classIndex) in ClassList"
                                                    :value="classList.categoryId">
                                                    {{classList.categoryName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="m-0">
                                                定價
                                                <span class="text-primary" data-toggle="tooltip" data-placement="right"
                                                    title="品項的基本價格，不含份量及客製化選項的加減差價">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend ">
                                                    <span class="input-group-text">
                                                        NT$
                                                    </span>
                                                </div>
                                                <input class="form-control" placeholder="價格" type="number" v-model="AddProductor_data.data.
                                                    price" step="1">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="m-0">
                                                排序類別<span class="text-danger">*</span>
                                                <span class="text-primary" data-toggle="tooltip" data-placement="right"
                                                    title="顯示於訂單記錄的順序">
                                                    <i class="fas fa-question-circle"></i>
                                                </span>
                                            </label>
                                            <select class="form-control" v-model="AddProductor_data.data.priority">
                                                <option value="" disabled v-if="AddProductor_data.userAction==='新增'">
                                                    -- 請選擇 --
                                                </option>
                                                <option v-for="(sort,classIndex) in SortClass_Data"
                                                    :value="sort.priorityId">
                                                    {{sort.title}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 bg-light p-3 mb-2">
                                <h5>份量</h5>
                                <p class="text-muted">若您的餐點有不同份量，可以新增份量並設定差價。</p>
                                <template
                                    v-if="AddProductor_data.data.mealConfig && AddProductor_data.data.mealConfig.Options">
                                    <template
                                        v-for="(size, sizeIndex) in AddProductor_data.data.mealConfig.Options[0].Items"
                                        :key="sizeIndex">
                                        <div class="input-group mb-1">
                                            <input class="form-control" placeholder="份量名稱，EX：大杯" v-model="size.Name">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text">NT $</span>
                                            </div>
                                            <input class="form-control" placeholder="EX:20或-50" type="number"
                                                v-model="size.Price" step="1">
                                            <div class="input-group-append">
                                                <button v-on:click="deletSize(sizeIndex)"
                                                    class="btn btn-outline-secondary">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                                <div class="form-group mb-3">
                                    <a href="#" @click="addProdutorSize">+ 新增一個份量</a>
                                </div>
                            </div>
                            <div class="col-12 bg-light p-3 mb-2">
                                <h5>客製化選項類別</h5>
                                <table class="table table-bordered table-hover">
                                    <!--  <thead class="table-primary">
                                        <tr>
                                            <th>

                                            </th>
                                            <th class="longText">
                                                名稱
                                            </th>
                                          <th class="longText">
                                                選項
                                            </th>
                                        </tr>
                                    </thead> -->
                                    <tbody>
                                        <template v-for="(cuzt,CIndex) in customizedData">
                                            <tr>
                                                <td>
                                                    <input type="checkbox" :id="'checkbox-'+cuzt.templateId"
                                                        v-model="AddProductor_data.data.customConfig"
                                                        :value="cuzt.templateId">
                                                </td>
                                                <td :for="'checkbox-'+cuzt.templateId">
                                                    {{cuzt.templateName}}
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" @click="deletProductor"
                            v-if="AddProductor_data.action=='編輯'">刪除</button> -->
                        <button type="button" class="btn btn-primary" @click="SaveProductor"
                            v-if="AddProductor_data.userAction==='編輯'">確認儲存</button>
                        <button type="button" class="btn btn-primary" @click="AddProductor"
                            v-if="AddProductor_data.userAction==='新增'">確認新增</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" id="TailoringImgWin" tabindex="-1" data-backdrop="static" data-keyboard="false"
            style="z-index: 100000;" role="dialog" aria-labelledby="reloginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">
                            編輯圖片
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="img-container">
                            <img id="image" ref="image" class="img-fluid">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            aria-label="Close">取消上傳</button>
                        <button type="button" id="sureCut" @click="cropImage" class="btn btn-primary">確認裁切並上傳</button>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="modal fade" id="cropModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">裁剪圖片</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="img-container">
                            <img id="image" ref="image" class="img-fluid">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" @click="cropImage">確定裁剪</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ProductoClassDel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">刪除分類</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除分類 <b>{{ProductorClass_Data.data.categoryName}}?</b></p>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-danger" v-on:click="deleteClass()">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createProductorClass" tabindex="-1" role="dialog" aria-labelledby=""
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">
                            <span>{{ProductorClass_Data.action}}</span>品項類別
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">類別名稱<span class="text-danger">*</span></label>
                                    <input v-model="ProductorClass_Data.data.categoryName" class="form-control ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" :disabled="!checkProductorClassForm"
                            @click="addClass()" v-if="ProductorClass_Data.action=='新增'">確認新增</button>
                        <button type="button" class="btn btn-primary" v-if="ProductorClass_Data.action=='編輯'"
                            :disabled="!checkProductorClassForm" @click="saveClass">確認儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong><span class="mr-2 text-xs"
                                        :class="store.storeStatus.isOpen ? 'text-success' : 'text-danger'">
                                        <i class="fas fa-dot-circle"></i>
                                    </span>{{ store.storeName }}</strong>
                                <p class="text-muted">{{ store.city }}{{ store.districts }}{{ store.shortAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a href="#" class="brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>

            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-8 col-xl-7 mb-3">
                            <form class="Myinput-group" @submit.prevent="searchProductors">
                                <input type="search" class="" placeholder="搜尋品項名稱" v-model="searchKeyword">

                                <button type="submit" class="btn" :disabled="searchKeyword.length==0">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-12 col-md-8 col-xl-7 text-right mb-3"
                            v-if="productorData.length>0&&disabledType=='List'">
                            <!-- <button class="btn btn-primary" @click="AddProductorGroup">新增品項類別</button> -->
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    新增
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" @click="AddProductorGroup">品項類別</a>
                                    <a href="#" class="dropdown-item" @click="showProductorAddWin(null)">品項</a>
                                </div>
                            </div>
                        </div>
                        <template v-for="(Group, index) in productorData" :key="Group.categoryId"
                            v-if="disabledType=='List'">
                            <div class="col-12 col-md-8 col-xl-7 py-2">
                                <div class="col-12 p-3">

                                    <h5 class="btnHover">
                                        <span class="text-bold">{{ Group.categoryName }}</span>

                                        <div class="d-inline-block table-btn-div ml-2 float-right">
                                            <button class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                                v-if="Group.productors.length==0" @click="DeleteProductorGroup(index)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <button class="btn mr-2 btn-sm btn-secondary d-inline-block" :data-id="Group.categoryId
                                    " @click="EditProductorGroup(index)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-primary d-inline-block"
                                                @click="showProductorAddWin(index)">
                                                <i class="fas fa-plus mr-2"></i>新增餐點
                                            </button>
                                        </div>
                                    </h5>
                                    <div class="list-group" v-if="Group.productors.length>0">
                                        <div class="d-flex align-items-center py-2 list-group-item btnHover"
                                            :data-id="item.categoryId" v-for="(item,itemindex) in Group.productors">
                                            <div class="d-flex justify-content-center"
                                                :class="{'unknowIMG':item.image==''}"
                                                style="width: 50px;height: 50px;overflow: hidden;">
                                                <img :src="item.image" class="border w-100">
                                            </div>
                                            <div class="pl-3 col-6">
                                                <div class="text-bold">{{item.name}}</div>
                                                <div class="text-muted">{{item.remark}}</div>
                                            </div>
                                            <div class="float-right table-btn-div"
                                                style="position: absolute;right: 10px;">
                                                <button class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                                    @click="showProductorDeleteWin(index,itemindex)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button class="btn btn-sm btn-secondary d-inline-block"
                                                    @click="showProductorEditWin(index,itemindex)">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="Group.productors.length===0" class="">
                                        <p class="text-muted" :data-id="Group.id">該分類尚未新增品項
                                            <!-- <a href="#" @click="showProductorAddWin(index)">前往新增</a> -->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div class="col-12 col-md-8 col-xl-7" v-if="productorData.length==0&&disabledType=='List'">
                            <div class="emptyImage emptyImage1"></div>
                            <p class="text-center">尚未新增餐點品項，前往
                                <button class="ml-2 btn btn-primary" type="button" @click="AddProductorGroup">
                                    新增品項類別
                                </button>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 col-xl-7 py-2" v-if="disabledType=='Search'">
                            <h5>共有 {{searchCount}} 個符合結果項目：</h5>
                        </div>
                        <div class="col-12 col-md-8 col-xl-7" v-if="disabledType=='Search'&&searchList.length==0">
                            <div class="emptyImage emptyImage3"></div>
                            <p class="text-center">
                                沒有符合條件的結果
                            </p>
                        </div>
                        <template v-for="(Group, index) in searchList" :key="Group.categoryId">
                            <div class="col-12 col-md-8 col-xl-7 py-2" v-if="Group.productors.length>0">
                                <div class="col-12">
                                    <h5 class="btnHover">
                                        <span class="text-bold">{{ Group.categoryName }}</span>
                                        <div class="d-inline-block table-btn-div ml-2">
                                            <button class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                                @click="DeleteProductorGroup(index)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <button class="btn btn-sm btn-secondary d-inline-block"
                                                :data-id="Group.categoryId" @click="EditProductorGroup(index)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>
                                    </h5>
                                    <div class="list-group">
                                        <template v-for="(item,itemindex) in Group.productors">
                                            <div class="d-flex align-items-center py-2 list-group-item btnHover"
                                                :data-id="item.categoryId">
                                                <div class="d-flex justify-content-center"
                                                    :class="{'unknowIMG':item.image==''}"
                                                    style="width: 50px;height: 50px;overflow: hidden;">
                                                    <img :src="item.image" class="border w-100">
                                                </div>
                                                <div class="pl-3">
                                                    <div class="text-bold">{{item.name}}</div>
                                                    <div class="text-muted">{{item.remark}}</div>
                                                </div>
                                                <div class="float-right table-btn-div"
                                                    style="position: absolute;right: 10px;">
                                                    <button class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                                        @click="showProductorDeleteWin(index,itemindex)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary d-inline-block"
                                                        @click="showProductorEditWin(index,itemindex)">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
</body>

<script>
    checkUserInfo()
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '品項管理',

                //原始資料
                userInfo: localStorage.userInfo ? decryptObject(localStorage.userInfo) : {},
                storeInfo: decryptObject(localStorage.storeInfo),

                allStore: localStorage.allStore ? decryptObject(localStorage.allStore) : {},

                searchKeyword: '',

                // 分類列表
                ClassList: [
                    {
                        "categoryId": null,
                        "categoryName": ""
                    },
                ],

                // 品項列表
                ProductList: [
                    {
                        "categoryId": null,
                        "categoryName": ""
                    },
                ],

                // 分類中的品項列表
                productorData: [],

                //品項分類編輯/新增資料
                ProductorClass_Data: {
                    action: '新增',
                    data: ""
                },

                //品項編輯/新增資料
                AddProductor_data: {
                    userAction: '新增',
                    data: {
                        "mealId": 0,
                        "name": "",
                        "remark": "",
                        "price": 0,
                        "image": "",
                        "categoryId": 0,
                        "categoryName": "",
                        "priority": 0,
                        "priorityTitle": "",
                        "enabled": true,
                        "createTime": "",
                        "editTime": "",
                        "customConfig": {
                            "items": [
                                {
                                    "templateId": 0,
                                    "options": []
                                }
                            ]
                        },
                        "mealConfig": {
                            "options": [
                                {
                                    "title": "",
                                    "extraPrice": 0
                                }
                            ]
                        }
                    },
                },

                //排序類別清單
                SortClass_Data: {
                    priorityId: '',
                    title: '',
                    sort: 0
                }
                ,
                //客製化類別清單
                customizedData: [{
                    "templateId": '',
                    "templateName": "",
                    "type": null,
                    "required": false,
                    "options": [
                        {
                            'title': '',
                            "extra": 0
                        }
                    ],
                }],

                disabledType: 'List',//現在顯示的區塊（List / Search）

                searchList: [],
                searchCount: 0,

                cropper: null,
                imageUrl: "",
                croppedImage: "",

                imageSize: { w: 300, h: 300 }
            }
        },
        computed: {
            // mealOptions是否存在
            mealOptions() {
                return (this.AddProductor_data.data.mealConfig && this.AddProductor_data.data.mealConfig.options) || [];
            },

            // 新增/儲存 品項按鈕檢查
            checkProductorForm() {
                // console.log(this.AddProductor_data.data);
                // if (this.AddProductor_data.data !== '' && this.AddProductor_data.data.sortClass !== '' && this.AddProductor_data.data.productorsClass.id !== '') {
                //     return true
                // } else {
                //     return false
                // }
            },
            // 新增/儲存 品項分類按鈕檢查
            checkProductorClassForm() {
                // console.log(this.AddProductor_data.data);
                // console.log(this.ProductorClass_Data.data);

                if (this.ProductorClass_Data.data !== '') {
                    return true
                } else {
                    return false
                }
            },

        },
        mounted() {

            $('[data-toggle="tooltip"]').tooltip();

            this.getProductorList()
        },
        watch: {
        },
        methods: {
            //取得產品清單
            getProductorList() {
                var vue = this;
                apiWeb('/api/Meal/category/' + storeId, 'GET', null, '獲得分類', function (v) {
                    if (v.success == true) {
                        vue.ClassList = v.categories;
                        apiWeb('/api/Meal/' + storeId, 'GET', null, '獲得品項', function (v) {
                            if (v.success == true) {
                                vue.ProductList = v.meals;
                                vue.productorData = vue.ClassList.map(category => ({
                                    categoryId: category.categoryId,
                                    categoryName: category.categoryName,
                                    productors: vue.ProductList.filter(product => product.categoryId === category.categoryId)
                                }));
                                // console.log(vue.productorData);

                                apiWeb('api/MealPriority/titles/' + storeId, 'GET', null, '取得排序列表', function (v) {
                                    if (v.success == true) {
                                        vue.SortClass_Data = v.titles
                                        apiWeb('api/Menu/attributes/list/' + storeId, 'GET', null, '獲得客製化選項', function (v) {
                                            if (v.success == true) {
                                                vue.customizedData = v.templates
                                                // console.log(v.templates);

                                                loadingOff()
                                            } else {
                                                GetDataError('獲得客製化資料')
                                            }
                                        })
                                    } else {
                                        GetDataError('獲得排序資料')
                                    }
                                })

                            } else {
                                GetDataError('獲得品項資料')
                            }
                        });
                    } else {
                        GetDataError('獲得分類資料')
                    }
                });
            },

            //＊顯示新增分類視窗
            AddProductorGroup() {
                this.ProductorClass_Data = {
                    action: '新增',
                    data: { categoryName: '' }
                }
                // console.log(this.ProductorClass_Data.data);
                $('#createProductorClass').modal('show')
            },
            addClass() {
                loadingOn()
                var data = {
                    "StoreId": storeId,
                    "CategoryName": this.ProductorClass_Data.data.categoryName
                }
                // console.log(data);

                apiWeb('api/Meal/category/' + storeId + '/add', 'POST', JSON.stringify(data), '新增分類', function (v) {
                    if (v.success == true) {
                        location.reload()
                    } else {
                        GetDataError('新增分類')
                    }
                })

            },

            //＊顯示編輯分類視窗
            EditProductorGroup(index) {
                // console.log(this.ClassList, index)

                var k = this.ClassList[index]
                // console.log(k);

                this.ProductorClass_Data = {
                    action: '編輯',
                    data: JSON.parse(JSON.stringify(k))
                }
                $('#createProductorClass').modal('show')
            },
            saveClass() {
                loadingOn()
                // console.log(this.ProductorClass_Data.data);
                var s = this.ProductorClass_Data.data
                var data = {
                    "storeId": storeId,
                    "categoryName": s.categoryName
                }
                apiWeb('/api/Meal/category/' + storeId + '/' + s.categoryId, 'PUT', JSON.stringify(data), '編輯分類', function (v) {
                    if (v.success == true) {
                        location.reload()
                    }
                })
            },

            //＊顯示刪除分類視窗
            DeleteProductorGroup(index) {
                // console.log(this.ClassList, index)

                var k = this.ClassList[index]
                // console.log(k);

                this.ProductorClass_Data = {
                    action: '刪除',
                    data: k
                }
                $('#ProductoClassDel').modal('show')
            },
            deleteClass() {
                loadingOn()
                // console.log(this.ProductorClass_Data.data);
                var s = this.ProductorClass_Data.data
                apiWeb('/api/Meal/category/' + storeId + '/' + s.categoryId, 'DELETE', null, '刪除分類', function (v) {
                    if (v.success == true) {
                        location.reload()
                    }
                })
            },

            // ---

            //新增品項視窗
            showProductorAddWin(index) {
                // var categoryId = ''
                // if (index != null) {
                //     categoryId = this.productorData[index].categoryId
                // }
                // console.log(this.productorData[index], categoryId);


                this.AddProductor_data = {}
                this.AddProductor_data = {
                    data: {
                        "name": "",
                        "remark": "",
                        "price": 0,
                        "image": "",
                        "categoryId": index != null ? this.productorData[index].categoryId : '',
                        "priority": 5,
                        // "enabled": true,
                        "customConfig": [],
                        "mealConfig": {
                            "options": []
                        }
                    },
                    userAction: '新增'
                }
                // console.log('this.AddProductor_data.data---------------', this.AddProductor_data.data);
                $('#ProductorEdit').modal('show')
            },
            //確認新增品項
            AddProductor() {
                loadingOn()
                var productData = this.AddProductor_data.data
                var addData = {
                    "Name": productData.name,
                    "Price": productData.price,
                    "Remark": productData.remark,
                    "Image": productData.image,
                    "CategoryId": productData.categoryId,
                    "Enabled": true,
                    "Priority": productData.priority,
                    "CustomConfig": JSON.stringify(productData.customConfig),
                    "mealConfig": JSON.stringify(productData.mealConfig)
                }

                // console.log(JSON.stringify(addData))

                apiWeb('/api/Meal/' + storeId + '/add', 'POST', JSON.stringify(addData), '新增餐點', function (v) {
                    if (v.success == true) {
                        location.reload()
                    }
                })
            },

            //編輯品項視窗
            showProductorEditWin(index, itemindex) {
                // console.log(index, itemindex);
                // console.log(this.productorData[index].productors[itemindex]);
                var a = this.productorData[index].productors[itemindex]
                this.AddProductor_data = {}

                this.AddProductor_data = {
                    data: JSON.parse(JSON.stringify(a)),
                    userAction: '編輯'
                }

                $('#ProductorEdit').modal('show')
            },
            //確認儲存品項
            SaveProductor() {
                loadingOn()
                var productData = this.AddProductor_data.data

                var data = {
                    "Name": productData.name,
                    "Price": productData.price,
                    "Remark": productData.remark,
                    "Image": productData.image,
                    "CategoryId": productData.categoryId,
                    "Enabled": true,
                    "Priority": productData.priority,
                    "CustomConfig": JSON.stringify(productData.customConfig),
                    "mealConfig": JSON.stringify(productData.mealConfig)
                }

                apiWeb('/api/Meal/' + storeId + '/' + productData.mealId, 'PUT', JSON.stringify(data), '編輯品項', function (v) {
                    if (v.success == true) {
                        location.reload()
                    }
                })
            },

            //刪除品項視窗
            showProductorDeleteWin(index, itemindex) {
                // console.log(index, itemindex);
                // console.log(this.productorData[index].productors[itemindex]);
                this.AddProductor_data = {}
                this.AddProductor_data = {
                    data: this.productorData[index].productors[itemindex],
                    userAction: '編輯'
                }
                // console.log(this.AddProductor_data.data);

                $('#ProductoDel').modal('show')
            },
            //確認刪除品項
            deletProductor() {
                // console.log(this.AddProductor_data.data);
                var meal = this.AddProductor_data.data
                apiWeb('api/Meal/' + storeId + '/' + meal.mealId
                    , 'DELETE', null, '刪除品項', function (v) {
                        location.reload()
                    })
            },

            //品項份量
            addProdutorSize() {
                // 確保 mealConfig 存在
                if (!this.AddProductor_data.data.mealConfig) {
                    this.AddProductor_data.data.mealConfig = { Options: [] };
                }

                let s = this.AddProductor_data.data.mealConfig.Options;

                // 確保 Options 陣列存在
                if (!Array.isArray(s)) {
                    this.AddProductor_data.data.mealConfig.Options = [];
                    s = this.AddProductor_data.data.mealConfig.Options;
                }

                // 確保 s[0] 存在
                if (!s[0]) {
                    s[0] = { Items: [] };
                }

                // 確保 Items 陣列存在
                if (!Array.isArray(s[0].Items)) {
                    s[0].Items = [];
                }

                // 新增項目
                s[0].Items.push({
                    "Name": "",
                    "Price": null
                });

                // console.log(s);
            },
            //刪除品項份量
            deletSize(sizeIndex) {
                this.AddProductor_data.data.mealConfig.Options[0].Items.splice(sizeIndex, 1);
            },

            //搜尋餐點
            searchProductors() {
                loadingOn()
                var vue = this
                apiWeb('api/Meal/' + storeId + '/search?keyword=' + this.searchKeyword, 'GET', null, '搜尋品項=' + this.searchKeyword, function (v) {
                    vue.disabledType = 'Search'
                    vue.searchCount = v.meals.length
                    if (vue.searchCount != 0) {
                        vue.searchList = vue.ClassList.map(category => ({
                            categoryId: category.categoryId,
                            categoryName: category.categoryName,
                            productors: v.meals.filter(product => product.categoryId === category.categoryId)
                        }));
                    } else {
                        vue.searchList = []
                    }
                    loadingOff()

                    // console.log(vue.searchList.length);
                })
            },

            // 處理圖片上傳
            handleFileUpload(event) {
                var vue = this
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        this.imageUrl = e.target.result;

                        // 確保 Modal 開啟後再初始化 Cropper
                        $("#ProductorEdit").modal("hide");
                        setTimeout(() => {
                            $("#cropModal").modal("show");
                            setTimeout(() => {
                                vue.initCropper();
                            }, 300);
                        }, 500);
                    };
                    reader.readAsDataURL(file);
                }
            },
            // 初始化 Cropper.js
            initCropper() {
                var vue = this
                if (this.cropper) {
                    this.cropper.destroy();
                }
                this.$nextTick(() => {
                    const image = this.$refs.image;
                    image.onload = () => {
                        this.cropper = new Cropper(image, {
                            aspectRatio: 1,   // 1:1 比例
                            viewMode: 2,      // 限制裁剪框不超出圖片範圍
                            autoCropArea: 1,  // 預設裁剪範圍最大
                            minCropBoxWidth: vue.imageSize.w,
                            minCropBoxHeight: vue.imageSize.h,
                            ready: () => {
                                this.cropper.setCropBoxData({ width: vue.imageSize.w, height: vue.imageSize.h });
                            },
                            rotatable: false, // 禁止旋轉
                            scalable: false,  // 禁止縮放
                            zoomable: false,  // 禁止縮放
                            movable: false,   // 禁止移動圖片
                            checkOrientation: false // 禁止自動旋轉
                        });
                    };
                    image.src = this.imageUrl;
                });
            },
            // 裁剪圖片並轉 Base64
            cropImage() {
                var vue = this
                if (this.cropper) {
                    const canvas = this.cropper.getCroppedCanvas({
                        width: vue.imageSize.w,
                        height: vue.imageSize.h
                    });
                    this.croppedImage = canvas.toDataURL("image/png");

                    // console.log(this.croppedImage);
                    this.AddProductor_data.data.image = this.croppedImage


                    $("#cropModal").modal("hide");
                    $("#ProductorEdit").modal("show");
                }
            }
        },
    });
    app.mount("#app");
    // 修正 Vue 無法直接存取的方法
    // $('#cropModal').on('shown.bs.modal', function () {
    //     setTimeout(() => {
    //         app.initCropper();
    //     }, 300);
    // });
</script>
<style>
    /* 修正裁剪區域異常的問題 */
    .img-container {
        width: 100%;
        max-height: 500px;
        overflow: hidden;
    }

    /* 增加 modal-xl 讓裁剪區域更大 */
    .modal-xl {
        max-width: 90vw;
    }

    /* 確保裁剪圖片可以完整顯示 */
    #image {
        display: block;
        max-width: 100%;
        height: auto;
    }
</style>

</html>