<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Sortable -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />
</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="reloginModal" tabindex="-1" data-backdrop="static" data-keyboard="false"
            role="dialog" aria-labelledby="reloginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">重新登入</h5>
                    </div>
                    <div class="modal-body">
                        請重新登入以繼續使用系統。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                            onclick="window.location.href='login.html'">登入</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createProductorClass" tabindex="-1" role="dialog"
            aria-labelledby="reloginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel"><span>{{editSortClass_Data.action}}</span>排序類別
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-5">
                                    <label for="">排序名稱<span class="text-danger">*</span></label>
                                    <input v-model="editSortClass_Data.Data.name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-secondary" @click="delet"
                            v-if="editSortClass_Data.action=='編輯'">刪除</button>
                        <button type="button" class="btn btn-primary" :disabled="!checkSortClassForm" @click="add"
                            v-if="editSortClass_Data.action=='新增'">確認新增</button>
                        <button type="button" class="btn btn-primary" v-if="editSortClass_Data.action=='編輯'"
                            @click="save" :disabled="!checkSortClassForm">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store"></i>
                        {{storeInfo.name}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.id"
                            onclick="itemClick(this)">
                            <div class="store">
                                <strong>{{ store.name }}</strong>
                                <p class="text-muted">{{ store.address.fullAddress }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a href="index.html" class="brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>


            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0" onclick="window.location.href='account_edit.html'">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0" onclick="window.location.href='login.html'">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="index.html">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-right mb-3">
                            <div class="dropdown">
                                <button class="btn btn-primary" @click="showAddSortClassWin">
                                    新增排序分類
                                </button>
                            </div>
                        </div>
                        <div class="col-12 list-group sortableList" ref="sortableList">
                            <div class="list-group-item" v-for="(sort,index) in SortClassData" :key="sort.id"
                                @click="showEditSortClassWin(sort.id)">
                                <div class="row m-0">
                                    <div class="handle col-2 col-md-1">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                    <!-- <div class="mr-2">{{sort.sort_number}}.</div> -->
                                    <div class="col-10 col-md-11">
                                        {{sort.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>

<script>
    // import Sortable from "sortablejs";
    const app = Vue.createApp({
        data() {
            return {
                userFunction: sessionStorage.userFunction ? JSON.parse(sessionStorage.userFunction) : {},

                PageTitle: '排序管理',

                userInfo: sessionStorage.userInfo ? JSON.parse(sessionStorage.userInfo) : {},
                storeInfo: sessionStorage.storeInfo ? JSON.parse(sessionStorage.storeInfo) : {},
                allStore: sessionStorage.allStore ? JSON.parse(sessionStorage.allStore) : [],

                SortClassData: [
                    {
                        id: 'c2024la12s24s',
                        name: '排序屬性01',
                        sort_number: 0
                    },
                    {
                        id: 'c2024la12s27s',
                        name: '排序屬性02',
                        sort_number: 1
                    },
                    {
                        id: 'c2024la12s25s',
                        name: '排序屬性03',
                        sort_number: 2
                    },
                    {
                        id: 'c2024la12s26s',
                        name: '排序屬性04',
                        sort_number: 3
                    }
                ],
                editSortClass_Data: {
                    action: '新增',
                    Data: {
                        name: '',
                    },
                },
                editSortClass_Data_Default: {
                    name: '',
                }
            }
        },
        computed: {
            checkSortClassForm() {
                if (this.editSortClass_Data.Data.name !== '') {
                    return true
                } else {
                    return false
                }
            }
        },
        mounted() {
            setTimeout(() => {
                checkUserInfo()
            }, 500);

            // 使用 ref 获取 DOM 元素
            const el = this.$refs.sortableList;

            Sortable.create(el, {
                handle: ".handle", // 指定拖曳的手柄
                animation: 150,
                onEnd: (event) => {
                    // 获取拖曳后的新顺序
                    const movedItem = this.SortClassData.splice(event.oldIndex, 1)[0];
                    this.SortClassData.splice(event.newIndex, 0, movedItem);
                    // 更新 sort_number
                    this.SortClassData.forEach((item, index) => {
                        item.sort_number = index;
                    });
                    console.log(this.SortClassData);

                },
            });
        },
        watch: {
        },
        methods: {
            //新增視窗
            showAddSortClassWin() {
                this.editSortClass_Data = {
                    action: '新增',
                    Data: this.editSortClass_Data_Default
                }
                console.log(this.editSortClass_Data.Data);
                $('#createProductorClass').modal('show')
            },
            //編輯視窗
            showEditSortClassWin(itemId) {
                var item = this.SortClassData.find(a => a.id === itemId)
                this.editSortClass_Data = {
                    action: '編輯',
                    Data: item,
                }
                // console.log(this.editSortClass_Data);
                $('#createProductorClass').modal('show')
            },

            delet() {
                console.log(this.editSortClass_Data.Data);
            },
            save() {
                console.log(this.editSortClass_Data.Data);
            },
            add() {
                console.log(this.editSortClass_Data.Data);
            }
        },
    });
    app.mount("#app");
</script>

</html>