<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Sortable -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js"></script>
    <link rel="stylesheet" href="css/share.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <div class="modal fade" id="createProductorClass" tabindex="-1" role="dialog"
            aria-labelledby="reloginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel"><span>{{editSortClass_Data.action}}</span>排序類別
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">排序名稱<span class="text-danger">*</span></label>
                                    <input v-model="editSortClass_Data.Data.title" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-primary" :disabled="!checkSortClassForm" @click="addSort"
                            v-if="editSortClass_Data.action=='新增'">確認新增</button>
                        <button type="button" class="btn btn-primary" v-if="editSortClass_Data.action=='編輯'"
                            @click="save" :disabled="!checkSortClassForm">確認儲存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deletProductorModal" tabindex="-1" role="dialog" aria-labelledby="reloginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reloginModalLabel">刪除菜單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除 <b>{{editSortClass_Data.Data.title}}?</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="deleteSort">確認刪除</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-store" id="OpenStatus"></i>
                        {{storeInfo.store.storeName}}
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item" v-for="(store,index) in allStore" :id="store.storeId"
                            onclick="itemClick($(this))">
                            <div class="store">
                                <strong>{{ store.expr1 }}</strong>
                                <p class="text-muted">{{ store.expr4 }}{{ store.expr5 }}{{ store.expr6 }}</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>


            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="img/user.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p href="#" class="d-inline-block m-0 mr-5">Hi {{userInfo.name}}</p>
                        <button class="btn btn-sm m-0 toEditAccount">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button class="btn btn-sm m-0 toLogin">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div v-if="SortClass_Data.length==0" class="col-12 col-md-8 col-xl-6">
                            <div class="emptyImage emptyImage2"></div>
                            <p class="text-center">尚未新增排序，前往
                                <button class="btn btn-primary" @click="showAddSortClassWin">
                                    新增排序分類
                                </button>
                            </p>
                        </div>
                        <div class="col-12 text-right mb-3" v-if="SortClass_Data.length>0">
                            <div class="dropdown">
                                <button class="btn btn-primary" @click="showAddSortClassWin">
                                    新增排序分類
                                </button>
                            </div>
                        </div>
                        <div class="col-12 list-group sortableList" ref="sortableList">
                            <div class="list-group-item btnHover" v-for="(sort,index) in SortClass_Data"
                                :key="sort.priorityId">
                                <div class="row m-0">
                                    <div class="handle col-2 col-md-1">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                    <div class="col">
                                        {{sort.sort}}. {{sort.title}}
                                    </div>
                                    <div class="text-right table-btn-div" style="">
                                        <button class="btn btn-sm btn-outline-danger mr-2 d-inline-block"
                                            v-on:click="showDeletModal(sort.priorityId)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button class="btn btn-sm btn-secondary d-inline-block"
                                            @click="showEditSortClassWin(sort.priorityId)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>

<script>
    checkUserInfo()

    // import Sortable from "sortablejs";
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '排序管理',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                storeInfo: decryptObject(localStorage.storeInfo),
                allStore: decryptObject(localStorage.allStore),

                SortClass_Data: [
                    {
                        priorityId: '',
                        title: '',
                        sort: 0
                    }
                ],
                editSortClass_Data: {
                    action: '',
                    Data: {
                        title: '',
                    },
                },
            }
        },
        computed: {
            checkSortClassForm() {
                if (this.editSortClass_Data.Data.title !== '') {
                    return true
                } else {
                    return false
                }
            }
        },
        mounted() {
            this.getSortList()

            var vue = this

            // 使用 ref 获取 DOM 元素
            const el = this.$refs.sortableList;

            Sortable.create(el, {
                handle: ".handle", // 指定拖曳的手柄
                animation: 150,
                onEnd: (event) => {
                    // 获取拖曳后的新顺序
                    const movedItem = this.SortClass_Data.splice(event.oldIndex, 1)[0];
                    this.SortClass_Data.splice(event.newIndex, 0, movedItem);
                    // 更新 sort
                    this.SortClass_Data.forEach((item, index) => {
                        item.sort = index + 1;
                    });
                    var kdata = this.SortClass_Data

                    const result = kdata.map(item => ({
                        oldPriorityId: item.priorityId,
                        newPriorityId: item.sort
                    }));

                    // console.log(result);

                    var EditData = {
                        priorities: result
                    }

                    console.log(EditData);


                    // loadingOn()
                    apiWeb('/api/MealPriority/titles/' + storeId + '/update-priority-ids', 'PUT', JSON.stringify(EditData), '修改排序', function (v) {
                        if (v.success == true) {
                            toastr.success('排序修改成功');
                            location.reload()
                        } else {
                            toastr.error('排序修改失敗');
                        }

                    })
                },
            });
        },
        watch: {
        },
        methods: {
            getSortList() {
                var vue = this
                apiWeb('api/MealPriority/titles/' + storeId, 'GET', null, '取得排序列表', function (v) {
                    // console.log(v);
                    vue.SortClass_Data = v.titles
                    // console.log(vue.SortClass_Data);
                    loadingOff()
                })
            },

            //新增視窗
            showAddSortClassWin() {
                this.editSortClass_Data = {
                    action: '新增',
                    Data: {
                        title: ''
                    }
                }
                console.log(this.editSortClass_Data.Data);
                $('#createProductorClass').modal('show')
            },

            //編輯視窗
            showEditSortClassWin(itemId) {
                let item = this.SortClass_Data.find(a => a.priorityId == itemId);

                this.editSortClass_Data = {
                    action: '編輯',
                    Data: JSON.parse(JSON.stringify(item)), // 深拷貝，完全獨立
                };

                $('#createProductorClass').modal('show');
            },

            //刪除視窗
            showDeletModal(itemId) {
                let item = this.SortClass_Data.find(a => a.priorityId == itemId);

                this.editSortClass_Data = {
                    action: '刪除',
                    Data: JSON.parse(JSON.stringify(item)), // 深拷貝，完全獨立
                };

                $('#deletProductorModal').modal('show');
            },
            deleteSort() {
                // console.log('delete');

                loadingOn()
                var vue = this
                apiWeb('/api/MealPriority/titles/' + storeId + '/' + this.editSortClass_Data.Data.priorityId
                    , 'DELETE', null, '刪除排序', function (v) {
                        // console.log(vue.SortClass_Data[0].title, vue.editSortClass_Data.Data.title);
                        if (v.success == true) {
                            location.reload()
                        } else {
                            toastr.error('排序名稱刪除失敗');
                        }

                    })
            },
            save() {
                loadingOn()

                var editData = {
                    title: JSON.parse(JSON.stringify(this.editSortClass_Data.Data.title))
                }
                console.log(editData);

                var vue = this
                apiWeb('/api/MealPriority/titles/' + storeId + '/' + this.editSortClass_Data.Data.priorityId
                    , 'PUT', JSON.stringify(editData), '新增排序', function (v) {
                        console.log(vue.SortClass_Data[0].title, vue.editSortClass_Data.Data.title);
                        if (v.success == true) {
                            location.reload()
                        } else {
                            toastr.error('排序名稱修改失敗');
                        }

                    })
            },
            addSort() {
                loadingOn()
                var addData = {
                    title: this.editSortClass_Data.Data.title
                }
                console.log(addData);
                var vue = this
                apiWeb('/api/MealPriority/titles/' + storeId, 'POST', JSON.stringify(addData), '新增排序', function (v) {
                    if (v.success == true) {
                        location.reload()
                    }
                })
                // console.log(this.editSortClass_Data.Data);
            }
        },
    });
    app.mount("#app");
</script>

</html>