<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING｜後台管理系統</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js?v101"></script>
    <link rel="stylesheet" href="css/share.css?v101" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <!-- 新增視窗 -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModallLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddModalLabel">
                            新增
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <lable>
                                帳號
                            </lable>
                            <input class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <lable>
                                密碼
                            </lable>
                            <div class="input-group">
                                <input type="password" id="PasswordInput" class="form-control" autocomplete="off"
                                    placeholder="請輸入密碼">
                                <div class="input-group-append">
                                    <div class="input-group-text password-undisabled d-flex justify-content-center align-items-center"
                                        data-for="#PasswordInput">
                                        <i class="fas fa-eye-slash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable>
                                確認密碼
                            </lable>
                            <div class="input-group">
                                <input type="password" id="ConfirmPasswordInput" class="form-control" autocomplete="off"
                                    placeholder="請輸入密碼">
                                <div class="input-group-append">
                                    <div class="input-group-text password-undisabled d-flex justify-content-center align-items-center"
                                        data-for="#ConfirmPasswordInput">
                                        <i class="fas fa-eye-slash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable>
                                名稱
                            </lable>
                            <input class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <lable>
                                權限
                            </lable>
                            <select class="form-control">
                                <option>
                                    {{showRole(0)}}
                                </option>
                                <option>
                                    {{showRole(1)}}
                                </option>
                                <option>
                                    {{showRole(2)}}
                                </option>
                                <option>
                                    {{showRole(3)}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-default btn" data-dismiss="modal">取消</button>
                        <button class="btn-primary btn" data-dismiss="modal">新增</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 搜尋視窗 -->
        <div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModallLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SearchModalLabel">
                            條件搜尋
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <lable>
                                帳號(email)
                            </lable>
                            <input class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <lable>
                                店家名稱
                            </lable>
                            <input class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <lable>
                                店家Id(StoreId)
                            </lable>
                            <input class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-default btn" data-dismiss="modal">取消</button>
                        <button class="btn-primary btn" data-dismiss="modal">搜尋</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user-circle"></i>
                        使用者名稱
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a class="dropdown-item">
                            <div class="store">
                                <p class="text-muted">登出</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>
            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                 <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-right py-3">
                            <button class="btn btn-primary mr-3" type="button" data-toggle="modal"
                                data-target="#AddModal">
                                新增
                            </button>
                            <button class="btn btn-default" type="button" data-toggle="modal"
                                data-target="#SearchModal">
                                條件搜尋
                            </button>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th class="longText">
                                            #
                                        </th>
                                        <th class="longText">
                                            用戶ID
                                        </th>
                                        <th class="longText">
                                            Email
                                        </th>
                                        <th class="longText">
                                            Role
                                        </th>
                                        <th class="longText">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="ListData.length==0">
                                        <td colspan="100" class="text-center">
                                            沒有資料
                                        </td>
                                    </tr>
                                    <tr v-for="(item,index) in paginatedOrders" class="btnHover">
                                        <td class="longText">
                                            {{ (currentPage - 1) * pageSize + index + 1 }}
                                        </td>
                                        <td class="longText">
                                            {{item.userid}}
                                        </td>
                                        <td class="longText">
                                            {{item.email}}
                                        </td>
                                        <td class="longText">
                                            {{showRole(item.role)}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <ul class="pagination pagination-sm justify-content-center mt-3">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a href="#" class="page-link" @click.prevent="prevPage">&laquo;</a>
                                </li>

                                <li v-for="page in totalPages" :key="page" class="page-item"
                                    :class="{ active: currentPage === page }">
                                    <a href="#" class="page-link" @click.prevent="goToPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a href="#" class="page-link" @click.prevent="nextPage">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '維運端帳戶',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),

                ListData: [
                    {
                        "userid": 123456,
                        "email": "yaya@gm.com",
                        "role": 0,
                    }
                ],

                currentPage: currentPage, // 當前頁面
                pageSize: pageSize, // 每頁顯示筆數
            }
        },
        computed: {
            // 計算總頁數
            totalPages() {
                return Math.ceil(this.ListData.length / this.pageSize);
            },
            // 計算當前頁要顯示的訂單
            paginatedOrders() {
                const start = (this.currentPage - 1) * this.pageSize;
                return this.ListData.slice(start, start + this.pageSize);
            },

        },
        mounted() {
            var vue = this

            loadingOff()
            $('[data-toggle="tooltip"]').tooltip();
        },
        watch: {
        },
        methods: {
            showRole(role) {
                switch (role) {
                    case 0:
                        return '最高平台管理員'
                        break;
                    case 1:
                        return '平台管理員'
                        break;
                    case 2:
                        return '營運管理員'
                        break;
                    case 3:
                        return '客服管理員'
                        break;

                    default:
                        break;
                }
            },
            // 切換到上一頁
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            // 切換到下一頁
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            // 跳轉到指定頁數
            goToPage(page) {
                this.currentPage = page;
            },
        },
    });
    app.mount("#app");
</script>

</html>