<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING｜後台管理系統</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share.js?v101"></script>
    <link rel="stylesheet" href="css/share.css?v101" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

</head>

<body class="sidebar-mini layout-navbar-fixed layout-footer-fixed sidebar-mini-md layout-fixed sidebar-collapse">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <!-- control-sidebar-slide-open -->
    <div id="app" class="wrapper">
        <!-- 編輯視窗 -->
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel" v-if="EditData.action==1">
                            新增
                        </h5>
                        <h5 class="modal-title" id="EditModalLabel" v-else>
                            編輯
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>
                                標籤類別名稱 *
                            </label>
                            <input class="form-control" autocomplete="off" v-model="EditData.typeName"
                                placeholder="請輸入標籤類別名稱" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label>
                                類別描述
                            </label>
                            <textarea class="form-control" v-model="EditData.typeDescription" placeholder="請輸入類別描述"
                                maxlength="200" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                排序順序
                            </label>
                            <input type="number" class="form-control" v-model.number="EditData.sortOrder" min="0"
                                max="999" placeholder="0">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" v-model="EditData.isActive"
                                    id="isActiveCheck">
                                <label class="form-check-label" for="isActiveCheck">
                                    啟用狀態
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-default btn" type="button" data-dismiss="modal">取消</button>
                        <button class="btn-primary btn" type="button" @click="saveTagType" :disabled="loading"
                            v-if="EditData.action==1">
                            <i class="fas fa-spinner fa-spin" v-if="loading"></i>
                            新增
                        </button>
                        <button class="btn-primary btn" type="button" @click="saveTagType" :disabled="loading" v-else>
                            <i class="fas fa-spinner fa-spin" v-if="loading"></i>
                            儲存
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 刪除視窗 -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteModalLabel">
                            刪除
                        </h5>
                    </div>
                    <div class="modal-body">
                        是否確定刪除標籤類別 <span class="fw-bolder">{{DeletData.typeName}}</span>?
                        <br><small class="text-muted">刪除後該類別下的所有標籤將無法使用</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-default btn" data-dismiss="modal">取消</button>
                        <button type="button" class="btn-danger btn" @click="deleteTagType" :disabled="loading">
                            <i class="fas fa-spinner fa-spin" v-if="loading"></i>
                            確定刪除
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav d-md-none">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user-circle"></i>
                        <span class="js-username"></span>
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right overflow-auto StoreSelector">
                        <a href="login.html" class="dropdown-item">
                            <span class="text-muted">登出</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar elevation-4 sidebar-light-primary">
            <!-- Brand Logo -->
            <a class="toIndex brand-link logo-switch">
                <img src="img/logo.svg" alt="AdminLTE Docs Logo Small" class="brand-image-xl logo-xs">
                <img src="img/logo2.svg" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl"
                    style="width: 200px;">
            </a>
            <!-- Sidebar -->
            <div class="sidebar os-theme-dark">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                        role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                 <br /> with font-awesome or any other icon font library -->
                        <li class="nav-item" v-for="(fuc,index) in userFunction">
                            <a :href="fuc.url" class="nav-link" :class="{'active':fuc.status==true}">
                                <i class="nav-icon" :class="fuc.icon"></i>
                                <p>
                                    {{fuc.name}}
                                    <i class="fas fa-angle-left right" v-if="fuc.item!=null"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" v-if="fuc.item!=null">
                                <li class="nav-item" v-for="(fucItem,index) in fuc.item" :key="index">
                                    <a :href="fucItem.url" class="nav-link" :class="{'active':fuc.status==true}">
                                        <i class="nav-icon" :class="fucItem.icon"></i>
                                        <p>{{fucItem.name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{PageTitle}}</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item active">{{PageTitle}}</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 py-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜尋標籤類別名稱或描述..."
                                    v-model="searchKeyword" @input="performSearch">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @click="clearSearch"
                                        v-if="searchKeyword">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-right py-3">
                            <button class="btn btn-primary mr-3" @click="showAddWin">
                                <i class="fas fa-plus"></i>
                                新增
                            </button>
                        </div>
                        <div class="col-12" v-if="searchKeyword">
                            <div class="alert alert-info">
                                <i class="fas fa-info-circle"></i>
                                搜尋 "<strong>{{searchKeyword}}</strong>" 找到 <strong>{{filteredData.length}}</strong> 筆結果
                                <button class="btn btn-sm btn-outline-primary ml-2" @click="clearSearch">
                                    <i class="fas fa-times"></i> 清除搜尋
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered table-hover">
                                <thead class="table-primary">
                                    <tr>
                                        <th class="longText">
                                            #
                                        </th>
                                        <th class="longText">
                                            類別名稱
                                        </th>
                                        <th class="longText">
                                            描述
                                        </th>
                                        <th class="longText">
                                            排序
                                        </th>
                                        <th class="longText">
                                            狀態
                                        </th>
                                        <th class="longText">
                                            標籤數量
                                        </th>
                                        <th class="longText">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="filteredData.length==0 && !loading && searchKeyword">
                                        <td colspan="100" class="text-center">
                                            <i class="fas fa-search"></i> 找不到符合 "{{searchKeyword}}" 的資料
                                        </td>
                                    </tr>
                                    <tr v-if="ListData.length==0 && !loading && !searchKeyword">
                                        <td colspan="100" class="text-center">
                                            沒有資料
                                        </td>
                                    </tr>
                                    <tr v-if="loading">
                                        <td colspan="100" class="text-center">
                                            <i class="fas fa-spinner fa-spin"></i> 載入中...
                                        </td>
                                    </tr>
                                    <tr v-for="(item,index) in paginatedOrders" class="btnHover">
                                        <td class="longText">
                                            {{ (currentPage - 1) * pageSize + index + 1 }}
                                        </td>
                                        <td class="longText">
                                            {{item.typeName}}
                                        </td>
                                        <td class="longText">
                                            {{item.typeDescription || '-'}}
                                        </td>
                                        <td class="longText">
                                            {{item.sortOrder}}
                                        </td>
                                        <td class="longText">
                                            <span class="badge"
                                                :class="item.isActive ? 'badge-success' : 'badge-secondary'">
                                                {{item.isActive ? '啟用' : '停用'}}
                                            </span>
                                        </td>
                                        <td class="longText">
                                            {{item.activeTagCount || 0}} / {{item.tagCount || 0}}
                                        </td>
                                        <td class="longText">
                                            <div class="btn-danger btn-sm btn float-right" data-toggle="tooltip"
                                                data-placement="top" title="刪除" @click="showDeleteWin(index)">
                                                <i class="fas fa-trash"></i>
                                            </div>
                                            <div class="btn-secondary btn-sm btn float-right mr-2" data-toggle="tooltip"
                                                data-placement="top" title="編輯" @click="showEditWin(index)">
                                                <i class="fas fa-pen"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <ul class="pagination pagination-sm justify-content-center mt-3">
                                <li class="page-item" :class="{ disabled: currentPage === 1 }">
                                    <a href="#" class="page-link" @click.prevent="prevPage">&laquo;</a>
                                </li>

                                <li v-for="page in totalPages" :key="page" class="page-item"
                                    :class="{ active: currentPage === page }">
                                    <a href="#" class="page-link" @click.prevent="goToPage(page)">{{ page }}</a>
                                </li>

                                <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                                    <a href="#" class="page-link" @click.prevent="nextPage">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline" id="version"></div>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->


</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '標籤類別管理',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),

                ListData: [],

                EditData: {
                    typeId: '',
                    typeName: '',
                    typeDescription: '',
                    sortOrder: 0,
                    isActive: true,
                    action: 0
                },

                DeletData: {
                    typeId: '',
                    typeName: '',
                },

                AddData: {
                    typeId: '',
                    typeName: '',
                    typeDescription: '',
                    sortOrder: 0,
                    isActive: true,
                    action: 1
                },

                loading: false,

                // 搜尋相關
                searchKeyword: '',
                filteredData: [],

                currentPage: currentPage, // 當前頁面
                pageSize: pageSize, // 每頁顯示筆數
            }
        },
        computed: {
            // 計算總頁數
            totalPages() {
                const dataToUse = this.searchKeyword ? this.filteredData : this.ListData;
                return Math.ceil(dataToUse.length / this.pageSize);
            },
            // 計算當前頁要顯示的資料
            paginatedOrders() {
                const dataToUse = this.searchKeyword ? this.filteredData : this.ListData;
                const start = (this.currentPage - 1) * this.pageSize;
                return dataToUse.slice(start, start + this.pageSize);
            }
        },
        mounted() {
            var vue = this

            this.loadTagTypes()
            $('[data-toggle="tooltip"]').tooltip();
        },
        watch: {
        },
        methods: {
            // 載入標籤類型列表
            async loadTagTypes() {
                this.loading = true
                try {
                    const token = await this.getAuthToken()

                    const response = await fetch(host + '/api/TagType', {
                        method: 'GET',
                        headers: {
                            'Authorization': token,
                            'Content-Type': 'application/json'
                        }
                    })

                    const data = await response.json()

                    if (data.success || data.Success) {
                        this.ListData = data.data || data.Data || []
                        loadingOff()
                    } else {
                        toastr.error(data.message || data.Message || '載入標籤類型失敗')
                    }
                } catch (error) {
                    console.error('載入標籤類型錯誤:', error)
                    toastr.error('載入標籤類型失敗')
                } finally {
                    this.loading = false
                }
            },

            // 取得驗證Token
            async getAuthToken() {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        type: "POST",
                        headers: {
                            "Content-Type": "application/json; charset=utf-8",
                        },
                        url: host + "/api/auth/keylogin",
                        data: JSON.stringify({ key: AutoKey }),
                        success: function (res) {
                            resolve("Bearer " + res.token)
                        },
                        error: function (xhr, status, error) {
                            reject(error)
                        }
                    })
                })
            },

            // 儲存標籤類型（新增或編輯）
            async saveTagType() {
                if (!this.EditData.typeName || this.EditData.typeName.trim() === '') {
                    toastr.error('請輸入標籤類別名稱')
                    return
                }

                this.loading = true

                try {
                    const token = await this.getAuthToken()

                    const requestData = {
                        typeName: this.EditData.typeName.trim(),
                        typeDescription: this.EditData.typeDescription?.trim() || '',
                        sortOrder: this.EditData.sortOrder || 0,
                        isActive: this.EditData.isActive
                    }

                    const isCreate = this.EditData.action === 1
                    const url = isCreate
                        ? host + '/api/TagType'
                        : host + `/api/TagType/${this.EditData.typeId}`

                    const response = await fetch(url, {
                        method: isCreate ? 'POST' : 'PUT',
                        headers: {
                            'Authorization': token,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(requestData)
                    })

                    const data = await response.json()

                    if (data.success || data.Success) {
                        toastr.success(isCreate ? '新增成功' : '更新成功')
                        $('#EditModal').modal('hide')
                        await this.loadTagTypes()
                    } else {
                        toastr.error(data.message || data.Message || (isCreate ? '新增失敗' : '更新失敗'))
                    }
                } catch (error) {
                    console.error('儲存標籤類型錯誤:', error)
                    toastr.error('操作失敗')
                } finally {
                    this.loading = false
                }
            },

            // 刪除標籤類型
            async deleteTagType() {
                this.loading = true

                try {
                    const token = await this.getAuthToken()

                    const response = await fetch(host + `/api/TagType/${this.DeletData.typeId}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': token,
                            'Content-Type': 'application/json'
                        }
                    })

                    const data = await response.json()

                    if (data.success || data.Success) {
                        toastr.success('刪除成功')
                        $('#DeleteModal').modal('hide')
                        await this.loadTagTypes()
                    } else {
                        toastr.error(data.message || data.Message || '刪除失敗')
                    }
                } catch (error) {
                    console.error('刪除標籤類型錯誤:', error)
                    toastr.error('刪除失敗')
                } finally {
                    this.loading = false
                }
            },

            // 搜尋功能
            performSearch() {
                if (!this.searchKeyword || this.searchKeyword.trim() === '') {
                    this.filteredData = [];
                    this.currentPage = 1;
                    return;
                }

                const keyword = this.searchKeyword.toLowerCase().trim();
                this.filteredData = this.ListData.filter(item => {
                    return (item.typeName && item.typeName.toLowerCase().includes(keyword)) ||
                        (item.typeDescription && item.typeDescription.toLowerCase().includes(keyword));
                });

                // 搜尋後回到第一頁
                this.currentPage = 1;
            },

            // 清除搜尋
            clearSearch() {
                this.searchKeyword = '';
                this.filteredData = [];
                this.currentPage = 1;
            },

            showDeleteWin(i) {
                const dataToUse = this.searchKeyword ? this.filteredData : this.ListData;
                const actualIndex = (this.currentPage - 1) * this.pageSize + i
                this.DeletData = JSON.parse(JSON.stringify(dataToUse[actualIndex]))
                $('#DeleteModal').modal("show");
            },

            showEditWin(i) {
                const dataToUse = this.searchKeyword ? this.filteredData : this.ListData;
                const actualIndex = (this.currentPage - 1) * this.pageSize + i
                this.EditData = JSON.parse(JSON.stringify(dataToUse[actualIndex]))
                this.EditData.action = 0
                $('#EditModal').modal("show");
            },

            showAddWin() {
                this.EditData = JSON.parse(JSON.stringify(this.AddData))
                $('#EditModal').modal("show");
            },


            // 切換到上一頁
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            // 切換到下一頁
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            // 跳轉到指定頁數
            goToPage(page) {
                this.currentPage = page;
            },

        },
    });
    app.mount("#app");
</script>

</html>