<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物車</title>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
  <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

  <!-- toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

  <script src="js/share2.js"></script>
  <link rel="stylesheet" href="css/share2.css" />

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
  </div>
  <div class="wrapper" id="app">

    <div class="modal fade" id="deleteMeal" tabindex="-1" aria-labelledby="deleteMealLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="deleteMealLabel">刪除餐點</p>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <h5>是否將 {{deleteData.name}} 移除購物車？</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" @click="deleteFunc()" data-dismiss="modal">確定</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="minimumOrderModal" tabindex="-1" aria-labelledby="minimumOrderModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="minimumOrderModalLabel">刪除餐點</p>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <h5 id="minimumOrderModalContent"></h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="backToStore">繼續點餐</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a class="toIndex navbar-brand">
          <img src="img/logo2.svg" alt="AdminLTE Logo" class="" style="width: 200px;">
        </a>

        <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

        <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link toCart" data-toggle="dropdown">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge badge-primary navbar-badge">3</span>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-user mr-2"></i>Hi, {{userInfo.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">使用者功能</span>
              <div class="dropdown-divider"></div>
              <div v-for="(func,index) in userFunction">
                <a :href="func.url" class="dropdown-item">
                  {{func.name}}
                  <span class="float-right text-muted text-sm">
                    <i :class="func.icon"></i>
                  </span>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{{PageTitle}}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                <li class="breadcrumb-item">{{PageTitle}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-8 pb-3">
              <h6 class="m-0">
                <span class="text-primary mr-2"><i class="fas fa-receipt"></i></span>
                訂單內容（{{cartCount}}）
              </h6>
              <div class="item border-bottom p-3 pr-5 position-relative" v-for="(item,index) in cartList">

                <button class="btn btn-sm position-absolute" style="top:0;right: 0;" @click="deleteWindow(item,index)"
                  data-toggle="modal" data-target="#deleteMeal">
                  <i class="fas fa-times"></i>
                </button>

                <p class="text-bold mb-2">{{item.mealName}} <span
                    class="float-right text-primary">${{item.totalPrice}}</span></p>
                <p class="text-muted m-0 text-xs">
                  <span v-if="item.mealConfig.options[0].value.length>0">{{item.mealConfig.options[0].value}},</span>
                  <template v-for="(option,opIndex) in item.customConfig[0].options">
                    <span v-for="(select,selectIndex) in option.content">{{select.title}}(+{{select.extra}}),</span>
                  </template>
                </p>
                <!-- <div class="text-right">
                  <button class="btn btn-default btn-sm" @click="deleteWindow(item,index)" data-toggle="modal"
                    data-target="#deleteMeal">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div> -->
              </div>
            </div>
            <div class="col-12 pb-3" v-if="cartList.length==0">
              <div class="emptyImage emptyImage1"></div>
              <p class="text-center">購物車是空的
                <a class="ml-2 btn btn-primary" type="button" href="index.html">
                  前往點餐
                </a>
              </p>
            </div>

            <!-- <div class="col-12 pb-3" v-if="cartList.length>0">
              <h5 class="m-0">
                <span class="text-primary"><i class="fas fa-comment-dots"></i></span>
                備註
              </h5>
              <div class="item border-bottom p-3">
                <textarea class="form-control" maxlength="50"></textarea>
              </div>
            </div> -->
            <div class="col-12 col-md-4 py-3 sticky-top" style="height: max-content" v-if="cartList.length>0">
              <div class="row m-0">
                <div class="p-3 col-12" v-if="cartList.length>0">
                  <h6>總金額<span class="text-primary float-right">${{getTotalPrice()}}</span></h6>
                </div>
                <div class="col-6">
                  <div class="btn btn-block btn-secondary" @click="backToStore">繼續點餐</div>
                </div>
                <div class="col-6">
                  <div class="btn btn-block btn-primary" @click="toPay">前往結帳</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      <span class="float-right d-none d-sm-inline" id="version"></span>
      <!-- Default to the left -->
      <strong id="copyRight"></strong>
    </footer>
  </div>

</body>

<script>
  const app = Vue.createApp({
    data() {
      return {
        userFunction: userFunction,

        PageTitle: '購物車',

        //原始資料
        userInfo: decryptObject(localStorage.userInfo),

        cartList: localStorage.cart ? JSON.parse(localStorage.cart) : '',
        cartCount: 0,

        deleteData: { name: '', index: 0 },

        // toPayData: {}

        lowAmount: {
          enabled: true,
          minimumOrderAmount: '',
          minimumOrderText: ''
        }
      }
    },
    mounted() {


      // console.log(this.userInfo);

      this.cartCount = this.cartList.length

      let veu = this
      if (this.cartList.length > 0) {
        apiWeb('/api/Store/detail/' + this.cartList[0].storeId, 'GET', null, '取得店家低消', function (v) {
          // console.log(v);
          veu.lowAmount.enabled = v.storeInfo.minimumOrderEnabled
          veu.lowAmount.minimumOrderAmount = v.storeInfo.minimumOrderAmount
          veu.lowAmount.minimumOrderText = v.storeInfo.minimumOrderText
          loadingOff()
        })
      } else {
        loadingOff()
      }
    },
    watch: {

    },

    methods: {
      deleteWindow(data, index) {
        // console.log(data);
        // console.log(index);
        this.deleteData.name = data.mealName
        this.deleteData.index = index

      },
      deleteFunc() {
        this.cartList.splice(this.deleteData.index, 1);
        localStorage.cart = JSON.stringify(this.cartList)
        this.cartCount = this.cartList.length
      },
      backToStore() {
        window.location.href = "StoreImformation.html?sid=" + this.cartList[0].storeId
      },
      toPay() {
        // loadingOn()
        let vue = this
        // console.log(JSON.stringify(vue.lowAmount));

        if (vue.lowAmount.enabled == true) {
          // console.log(vue.getTotalPrice());


          if (vue.getTotalPrice() >= vue.lowAmount.minimumOrderAmount) {
            window.location.href = "pay.html?sid=" + vue.cartList[0].storeId
          } else {
            $('#minimumOrderModalContent').html(vue.lowAmount.minimumOrderText)
            $('#minimumOrderModal').modal('show')
            loadingOff()
          }
        } else {
          window.location.href = "pay.html?sid=" + vue.cartList[0].storeId
        }
      },
      getTotalPrice() {
        let vue = this
        let totalPrice = total = vue.cartList.reduce((sum, meal) => {
          return sum + Number(meal.totalPrice);
        }, 0);
        return totalPrice
      }
    },
    computed: {

    }
  });
  app.mount("#app");
</script>

</html>