<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物車</title>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
  <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

  <!-- toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

  <script src="js/share2.js?v101"></script>
  <link rel="stylesheet" href="css/share2.css" />

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
  </div>
  <div class="wrapper" id="app">

    <div class="modal fade" id="deleteMeal" tabindex="-1" aria-labelledby="deleteMealLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="deleteMealLabel">刪除餐點</p>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <h5>是否將 {{deleteData.name}} 移除購物車？</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" @click="deleteFunc()" data-dismiss="modal">確定</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="minimumOrderModal" tabindex="-1" aria-labelledby="minimumOrderModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="minimumOrderModalLabel">刪除餐點</p>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <h5 id="minimumOrderModalContent"></h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="backToStore">繼續點餐</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a class="toIndex navbar-brand">
          <img src="img/logo2.svg" alt="AdminLTE Logo" class="" style="width: 200px;">
        </a>

        <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

        <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link toCart" data-toggle="dropdown">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge badge-primary navbar-badge">3</span>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-user mr-2"></i>Hi, {{userInfo.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">使用者功能</span>
              <div class="dropdown-divider"></div>
              <div v-for="(func,index) in userFunction">
                <a :href="func.url" class="dropdown-item">
                  {{func.name}}
                  <span class="float-right text-muted text-sm">
                    <i :class="func.icon"></i>
                  </span>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{{PageTitle}}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                <li class="breadcrumb-item">{{PageTitle}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-8 pb-3">
              <h6 class="m-0">
                <span class="text-primary mr-2"><i class="fas fa-receipt"></i></span>
                訂單內容（{{cartCount}}）
              </h6>
              <div class="item border-bottom p-3 pr-5 position-relative" v-for="(item,index) in cartList">

                <button class="btn btn-sm position-absolute" style="top:0;right: 0;" @click="deleteWindow(item,index)"
                  data-toggle="modal" data-target="#deleteMeal">
                  <i class="fas fa-times"></i>
                </button>

                <p class="text-bold mb-2">{{item.mealName}} 
                    <!-- 數量顯示和調整 -->
                    <span class="d-inline-flex align-items-center ml-2">
                        <button type="button" class="btn btn-outline-secondary btn-xs" 
                                @click="decreaseCartQuantity(index)" :disabled="item.quantity <= 1">
                            <i class="fas fa-minus"></i>
                        </button>
                        <span class="mx-2 text-sm">×{{item.quantity || 1}}</span>
                        <button type="button" class="btn btn-outline-secondary btn-xs" 
                                @click="increaseCartQuantity(index)" :disabled="item.quantity >= 10">
                            <i class="fas fa-plus"></i>
                        </button>
                    </span>
                    <span class="float-right text-primary">${{item.totalPrice}}</span>
                </p>
                <p class="text-muted m-0 text-xs">
                  <template v-if="item.mealConfig && item.mealConfig.options && item.mealConfig.options.length > 0">
                    <span v-for="(option, optionIndex) in item.mealConfig.options" :key="optionIndex">
                      {{option.title}}<span v-if="option.extraPrice != 0">({{option.extraPrice >= 0 ? '+' : ''}}{{option.extraPrice}})</span><span v-if="optionIndex < item.mealConfig.options.length - 1">,</span>
                    </span>
                    <span v-if="item.customConfig && item.customConfig[0] && item.customConfig[0].options">,</span>
                  </template>
                  <template v-for="(option,opIndex) in item.customConfig[0].options">
                    <span v-for="(select,selectIndex) in option.content">
                      {{select.title}}<span v-if="select.extra && select.extra != '0'">({{select.extra >= 0 ? '+' : ''}}{{select.extra}})</span><span v-if="selectIndex < option.content.length - 1">,</span>
                    </span>
                  </template>
                  <template v-if="item.requiredSelection && item.requiredSelection.length">
                    <span v-for="(sel, sidx) in item.requiredSelection">
                      {{sel.group}}：{{sel.title}}<span v-if="sel.extra != 0">({{sel.extra >= 0 ? '+' : ''}}{{sel.extra}})</span><span v-if="sidx < item.requiredSelection.length - 1">,</span>
                    </span>
                  </template>
                </p>
                <!-- <div class="text-right">
                  <button class="btn btn-default btn-sm" @click="deleteWindow(item,index)" data-toggle="modal"
                    data-target="#deleteMeal">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div> -->
              </div>
            </div>
            <div class="col-12 pb-3" v-if="cartList.length==0">
              <div class="emptyImage emptyImage1"></div>
              <p class="text-center">購物車是空的
                <a class="ml-2 btn btn-primary" type="button" href="index.html">
                  前往點餐
                </a>
              </p>
            </div>

            <!-- <div class="col-12 pb-3" v-if="cartList.length>0">
              <h5 class="m-0">
                <span class="text-primary"><i class="fas fa-comment-dots"></i></span>
                備註
              </h5>
              <div class="item border-bottom p-3">
                <textarea class="form-control" maxlength="50"></textarea>
              </div>
            </div> -->
            <div class="col-12 col-md-4 py-3 sticky-top" style="height: max-content" v-if="cartList.length>0">
              <div class="row m-0">
                <div class="p-3 col-12" v-if="cartList.length>0">
                  <h6>總金額<span class="text-primary float-right">${{getTotalPrice()}}</span></h6>
                </div>
                <div class="col-6">
                  <div class="btn btn-block btn-secondary" @click="backToStore">繼續點餐</div>
                </div>
                <div class="col-6">
                  <div class="btn btn-block btn-primary" @click="toPay">前往結帳</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      <span class="float-right d-none d-sm-inline" id="version"></span>
      <!-- Default to the left -->
      <strong id="copyRight"></strong>
    </footer>
  </div>

</body>

<script>
  const app = Vue.createApp({
    data() {
      return {
        userFunction: userFunction,

        PageTitle: '購物車',

        //原始資料
        userInfo: decryptObject(localStorage.userInfo),

        cartList: localStorage.cart ? JSON.parse(localStorage.cart) : '',
        cartCount: 0,

        deleteData: { name: '', index: 0 },

        // toPayData: {}

        lowAmount: {
          enabled: true,
          minimumOrderAmount: '',
          minimumOrderText: ''
        }
      }
    },
    mounted() {
      // 當進入購物車頁面時，清除可能存在的舊必選項目數據
      // 確保每次從商品頁重新進入購物車時都是乾淨的狀態
      this.clearRequiredSelections()

      // console.log(this.userInfo);

      this.updateCartCount();

      let veu = this
      if (this.cartList.length > 0) {
        apiWeb('/api/Store/detail/' + this.cartList[0].storeId, 'GET', null, '取得店家低消', function (v) {
          // console.log(v);
          veu.lowAmount.enabled = v.storeInfo.minimumOrderEnabled
          veu.lowAmount.minimumOrderAmount = v.storeInfo.minimumOrderAmount
          veu.lowAmount.minimumOrderText = v.storeInfo.minimumOrderText
          
          loadingOff()
        })
      } else {
        loadingOff()
      }
    },
    watch: {

    },

    methods: {
      async checkRequiredItems() {
        try {
          if (this.cartList.length === 0) return
          
          // 每次前往結帳都先清除舊的必選項目數據，確保重新選擇
          this.clearRequiredSelections()
          
          // 取得店家資訊
          const storeId = this.cartList[0].storeId
          
          // 首先從 API 獲取最新的店家資訊，包含當前啟動的菜單
          let menuId = null
          
          try {
            // 獲取正確的 API Token
            const token = await this.getApiToken()
            
            const storeResponse = await fetch(`${host}api/Store/detail/${storeId}`, {
              headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
              }
            })
            
            if (storeResponse.ok) {
              const storeData = await storeResponse.json()

              
              // 從店家資訊中獲取當前啟動的菜單 (注意大小寫)
              if (storeData.ActiveMenu && storeData.ActiveMenu.menuId) {
                menuId = storeData.ActiveMenu.menuId

              } else if (storeData.activeMenu && storeData.activeMenu.menuId) {
                menuId = storeData.activeMenu.menuId
              } else {
                // 沒有找到 ActiveMenu
              }
            }
          } catch (error) {
            console.error('獲取店家資訊失敗:', error)
          }
          
          // 如果 API 沒有返回 activeMenu，嘗試從 localStorage 獲取
          if (!menuId) {
            const storeInfo = localStorage.getItem('storeInfo') ? decryptObject(localStorage.getItem('storeInfo')) : {}
            menuId = storeInfo.activeMenu || storeInfo.menuId

          }
          
          // 最後嘗試從購物車項目中獲取
          if (!menuId && this.cartList.length > 0) {
            menuId = this.cartList[0].menuId
          }
          
          if (!menuId) {
            console.warn('無法獲取 menuId，跳過必選檢查')
            return
          }
          
          // 獲取 API Token
          const token = await this.getApiToken()
          
          // 移除調試端點調用以提高安全性
          
          // 呼叫 API 檢查菜單的必選模板
          const response = await fetch(`${host}api/Menu/menu/${storeId}/${menuId}/required-templates`, {
            headers: {
              'Authorization': 'Bearer ' + token,
              'Content-Type': 'application/json'
            }
          })
          
          if (response.ok) {
            const data = await response.json()
            
            if (data.success && data.optionsEnabled && data.templates) {

              
              // 檢查 templates 結構
              let groups = []
              
              // 如果 templates 只有 valueKind，可能是 JSON 解析問題
              if (data.templates.valueKind && Object.keys(data.templates).length === 1) {

                groups = []
              } else if (data.templates.groups) {
                groups = data.templates.groups

              } else if (Array.isArray(data.templates)) {
                groups = data.templates

              } else if (typeof data.templates === 'object') {
                // 嘗試從對象中提取群組數據
                for (const key of ['groups', 'Groups', 'items', 'Items']) {
                  if (data.templates[key] && Array.isArray(data.templates[key])) {
                    groups = data.templates[key]

                    break
                  }
                }
              }
              

              
              if (groups.length > 0) {
                // 檢查是否有必選群組
                const hasRequired = groups.some(g => g.required === true)

                
                if (hasRequired) {
                  // 檢查是否已經有必選項目的選擇
                  const existingSelections = localStorage.getItem('requiredSelections')
                  
                  if (!existingSelections) {
                    // 沒有選擇，跳轉到必選頁面
                    localStorage.setItem('requiredTemplatesCache', JSON.stringify(groups))
                    localStorage.setItem('pendingRequiredForStore', storeId)
                    localStorage.setItem('pendingRequiredForMenu', menuId)
                    
                    // 提示用戶完成必選
                    toastr.warning('此商品有必選項目，請先完成必選')
                    setTimeout(() => {
                      window.location.href = `RequiredSelection.html?sid=${storeId}`
                    }, 2000)
                    return false  // 返回 false 表示不應繼續流程
                  }
                  // 如果已有選擇，繼續正常流程（必選項目作為獨立項目處理）
                }
              }
            }
          } else {
            console.error('API 請求失敗:', response.status, response.statusText)
          }
          
                    } catch (error) {
              console.error('檢查必選項目時發生錯誤:', error)
              return false
            }
            
            return true  // 沒有必選項目或已完成選擇，可以繼續
          },

          // 清除舊的必選項目數據
          clearRequiredSelections() {
            localStorage.removeItem('requiredSelections')
            localStorage.removeItem('requiredTemplatesCache')

          },

      
      // 獲取 API Token 的方法
      async getApiToken() {
        try {
          const response = await fetch(`${host}api/auth/keylogin`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              key: 'sharings-api-r^rz-jofw-ccwf'
            })
          })
          
          if (response.ok) {
            const data = await response.json()

            return data.token
          } else {
            console.error('獲取 API Token 失敗:', response.status)
            throw new Error('Token 獲取失敗')
          }
        } catch (error) {
          console.error('Token 獲取錯誤:', error)
          // 嘗試使用 localStorage 中的 token 作為備用
          const fallbackToken = localStorage.getItem('token')
          if (fallbackToken) {

            return fallbackToken
          }
          throw error
        }
      },
      
      deleteWindow(data, index) {
        // console.log(data);
        // console.log(index);
        this.deleteData.name = data.mealName
        this.deleteData.index = index

      },
      deleteFunc() {
        this.cartList.splice(this.deleteData.index, 1);
        localStorage.cart = JSON.stringify(this.cartList)
        this.updateCartCount();
      },
      backToStore() {
        window.location.href = "StoreImformation.html?sid=" + this.cartList[0].storeId
      },
      async toPay() {
        loadingOn()
        let vue = this

        try {
          // 先檢查是否有必選項目需要處理
          const canProceed = await vue.checkRequiredItems()
          
          if (!canProceed) {
            // 需要跳轉到必選專區，停止後續流程
            loadingOff()
            return
          }
          
          // 檢查最低消費
          if (vue.lowAmount.enabled == true) {
            if (vue.getTotalPrice() >= vue.lowAmount.minimumOrderAmount) {
              window.location.href = "pay.html?sid=" + vue.cartList[0].storeId
            } else {
              $('#minimumOrderModalContent').html(vue.lowAmount.minimumOrderText)
              $('#minimumOrderModal').modal('show')
              loadingOff()
            }
          } else {
            window.location.href = "pay.html?sid=" + vue.cartList[0].storeId
          }
        } catch (error) {
          console.error('前往結帳時發生錯誤:', error)
          loadingOff()
        }
      },
      getTotalPrice() {
        let vue = this
        let totalPrice = total = vue.cartList.reduce((sum, meal) => {
          return sum + Number(meal.totalPrice);
        }, 0);
        return totalPrice
      },
      decreaseCartQuantity(index) {
        if (this.cartList[index].quantity > 1) {
          this.cartList[index].quantity--;
          // 直接使用 price 欄位（包含所有額外費用的單價）
          this.cartList[index].totalPrice = this.cartList[index].price * this.cartList[index].quantity;
          localStorage.cart = JSON.stringify(this.cartList);
          this.updateCartCount();
        }
      },
      increaseCartQuantity(index) {
        if (this.cartList[index].quantity < 10) {
          this.cartList[index].quantity++;
          // 直接使用 price 欄位（包含所有額外費用的單價）
          this.cartList[index].totalPrice = this.cartList[index].price * this.cartList[index].quantity;
          localStorage.cart = JSON.stringify(this.cartList);
          this.updateCartCount();
        }
      },
      updateCartCount() {
        // 計算總數量（所有商品的 quantity 總和）
        this.cartCount = this.cartList.reduce((total, item) => {
          return total + (item.quantity || 1);
        }, 0);
      }
    },
    computed: {

    }
  });
  app.mount("#app");
</script>

</html>