<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share2.js"></script>
    <link rel="stylesheet" href="css/share2.css" />

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>

    </style>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed">
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <div class="wrapper" id="app">
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a class="toIndex navbar-brand">
                    <img src="img/logo2.svg" alt="AdminLTE Logo" class="" style="width: 200px;">
                </a>

                <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item">
                        <a class="nav-link toCart" data-toggle="dropdown">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-primary navbar-badge text-sm">{{cartCount}}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">使用者功能</span>
                            <div class="dropdown-divider"></div>
                            <div v-for="(func,index) in userFunction">
                                <a :href="func.url" class="dropdown-item">
                                    {{func.name}}
                                    <span class="float-right text-muted text-sm">
                                        <i :class="func.icon"></i>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"> {{getTimeOfDay()}}{{userInfo.name}}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                                <li class="breadcrumb-item">{{PageTitle}}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <h3 v-if="fromStore.store.storeId.length>0">猜你想看</h3>
                    <div class="row">
                        <div class="col-8 col-md-3 mb-3" v-if="fromStore.store.storeId.length>0">
                            <a class="card border shadow-none mb-2 swiper-slide"
                                :href="'StoreImformation.html?sid='+fromStore.store.storeId">
                                <img class="card-img-top" :src="fromStore.store.image || 'img/unknowIMG.png'" />
                                <div class="card-body">
                                    <h6 class="text-dark">{{ fromStore.store.storeName }}</h6>
                                    <p class="text-muted text-xs card-text">
                                        <i class="far fa-clock mr-2"></i>
                                        {{getWaitingTimeString(fromStore.nextAvailable.waitingTimeDisplay)}}分鐘
                                    </p>
                                </div>
                            </a>
                        </div>

                        <!-- 搜尋 -->
                        <div class="col-12 mb-3">
                            <div class="Myinput-group">
                                <input type="search" class="" placeholder="搜尋餐廳、料理類型、商圈" v-model="searchKeyword">
                                <button @click="search" type="button" class="btn" :disabled="searchKeyword.length==0">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>

                        <!-- 優惠專區 -->
                        <div class="col-12 mb-3 p-3 PromotionsList" v-show="PromotionsList.length>0">
                            <h3>
                                <img src="img/bonus.png" class="mr-2" width="60px">
                                優惠專區
                            </h3>
                            <div class="swiper-container w-100 overflow-hidden">
                                <div class="swiper-wrapper">
                                    <template v-for="(item, index) in PromotionsList" :key="index">
                                        <a class="card mb-2 bg-gradient-dark swiper-slide"
                                            :href="'ClassImformation.html?cid='+item.tagId">
                                            <img class="card-img-top" :src="item.image || 'img/unknowIMG.png'" />
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h5 class="card-title text-primary text-white">{{ item.title }}</h5>
                                            </div>
                                        </a></template>
                                </div>
                                <button class="custom-prev-btn shadow">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                                <button class="custom-next-btn shadow">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <!-- 附近店家 -->
                        <div class="col-12 mb-3 p-3" v-show="StoreList.length>0">
                            <h3>附近店家
                                <!-- <button type="button" class="btn btn-link float-right">查看全部</button> -->
                            </h3>
                            <div class="swiper-container-store w-100 overflow-hidden">
                                <div class="swiper-wrapper">
                                    <template v-for="(item, index) in StoreList" :key="index">
                                        <a class="card border shadow-none mb-2 swiper-slide"
                                            :href="'StoreImformation.html?sid='+item.storeId">
                                            <span class='badge text-bold text-success navbar-badge text-sm'
                                                v-if="item.isOpen">
                                                <i class="fas fa-circle"></i> <!-- 營業中 -->
                                            </span>
                                            <span class='badge text-bold text-danger navbar-badge text-sm'
                                                v-if="!item.isOpen">
                                                <i class="fas fa-circle"></i>
                                            </span>
                                            <img class="card-img-top" :src="item.image || 'img/unknowIMG.png'" />
                                            <div class="card-body">
                                                <h6 class="text-dark">{{ item.storeName }}</h6>
                                                <p class="text-muted text-xs card-text">
                                                    <i class="far fa-clock mr-2"></i>
                                                    {{getWaitingTimeString(item.waitingTimeDisplay)}}分鐘</br>
                                                    <i class="fas fa-map-pin ml-1 mr-2 "></i>
                                                    {{formatDistance(item.distanceInKM)}}
                                                </p>
                                            </div>
                                        </a>
                                    </template>
                                </div>
                                <button class="custom-prev-btn shadow">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                                <button class="custom-next-btn shadow">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <!-- 各類美食 -->
                        <div class="col-12 mb-3 p-3" v-show="FoodTypeList.length>0">
                            <h3>各類美食</h3>
                            <div class="swiper-container-foodtype w-100 overflow-hidden">
                                <div class="swiper-wrapper">
                                    <template v-for="(item, index) in FoodTypeList" :key="index">
                                        <a class="swiper-slide footType"
                                            :href="'ClassImformation.html?cid='+item.tagId">
                                            <img class="card-img-top" :src="item.image || 'img/unknowIMG.png'" />
                                            <div class="d-flex flex-column justify-content-end">
                                                <span class="card-title text-secondary text-sm text-center">
                                                    {{ item.title }}</span>
                                            </div>
                                        </a>
                                    </template>
                                </div>
                                <button class="custom-prev-btn shadow">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                                <button class="custom-next-btn shadow">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                        <!-- 查看附近的商圈 -->
                        <div class="col-12 mb-3 p-3" v-show="BusinessDistrictList.length>0">
                            <h3>查看附近的商圈
                                <!-- <button type="button" class="btn btn-link float-right">查看全部</button> -->
                            </h3>
                            <div class="swiper-container w-100 overflow-hidden">
                                <div class="swiper-wrapper">
                                    <template v-for="(item, index) in BusinessDistrictList" :key="index">
                                        <a class="card mb-2 bg-gradient-dark swiper-slide"
                                            :href="'ClassImformation.html?cid='+item.tagId+'&cname='+item.title+'&ctype=附近的商圈'">
                                            <img class="card-img-top" :src="item.image || 'img/unknowIMG.png'" />
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <h5 class="card-title text-primary text-white">{{ item.title }}</h5>
                                            </div>
                                        </a>
                                    </template>
                                </div>
                                <button class="custom-prev-btn shadow">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                                <button class="custom-next-btn shadow">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="main-footer">
            <span class="float-right d-none d-sm-inline" id="version"></span>
            <!-- Default to the left -->
            <strong id="copyRight"></strong>
        </footer>
    </div>

</body>

<script>
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '首頁',

                //原始資料
                userInfo: localStorage.userInfo ? decryptObject(localStorage.userInfo) : {},
                cartCount: localStorage.cart ? JSON.parse(localStorage.cart).length : '',

                currentCoords: null, // 用戶當前座標
                stores: [], // 店家列表
                loading: false, // 加載狀態
                error: null, // 錯誤信息
                locationRequired: true, // 標記位置是否必須

                //優惠專區
                PromotionsList: [
                    // { "title": "新客優惠", "id": "QgR0QNBITskvdD6b", "image": "img/unknowIMG.png" },
                    // { "title": "滿額免運", "id": "GBVHt3VaksUXVapD", "image": "img/unknowIMG.png" },
                    // { "title": "限時折扣", "id": "BiR18TKHusq4kUP1", "image": "img/unknowIMG.png" },
                    // { "title": "好友分享", "id": "6s0CmDhluQr5ytpM", "image": "img/unknowIMG.png" },
                    // { "title": "回饋金", "id": "9QH2sNjRT9EQBUP6", "image": "img/unknowIMG.png" },
                    // { "title": "訂閱方案", "id": "tb8i7Ln4RycYmKQB", "image": "img/unknowIMG.png" },
                    // { "title": "早餐優惠", "id": "n30fpvZzs2CZo6v5", "image": "img/unknowIMG.png" },
                    // { "title": "宵夜特價", "id": "X7sluvXvGxUIWtyo", "image": "img/unknowIMG.png" },
                    // { "title": "信用卡折扣", "id": "gXyT8B4cXR2QXeCQ", "image": "img/unknowIMG.png" },
                    // { "title": "指定店家折扣", "id": "BTXRTzFkBWXjPDYe", "image": "img/unknowIMG.png" },
                    // { "title": "週末限定", "id": "OuxgqWpNQsomCERD", "image": "img/unknowIMG.png" },
                    // { "title": "買一送一", "id": "caIzYJe3b3cBMg8F", "image": "img/unknowIMG.png" },
                    // { "title": "組合餐優惠", "id": "C8f3oZ01QWhyrwQX", "image": "img/unknowIMG.png" },
                    // { "title": "生日折扣", "id": "kWOxpLzpSTyQyi9j", "image": "img/unknowIMG.png" },
                    // { "title": "會員專屬", "id": "49XpI3bsVUbfADdu", "image": "img/unknowIMG.png" }
                ],

                //附近商圈
                BusinessDistrictList: [
                    // { "title": "西門町", "id": "Cml0riWyZ9", "image": "img/unknowIMG.png" },
                    // { "title": "信義商圈", "id": "c3aY8KQ6L0", "image": "img/unknowIMG.png" },
                    // { "title": "東區商圈", "id": "AGU25L9aTg", "image": "img/unknowIMG.png" },
                    // { "title": "士林夜市", "id": "Z7EUEYNx5W", "image": "img/unknowIMG.png" },
                    // { "title": "饒河夜市", "id": "DkHZFABPnZ", "image": "img/unknowIMG.png" },
                    // { "title": "公館商圈", "id": "oEWAFTjy4I", "image": "img/unknowIMG.png" },
                    // { "title": "中山站商圈", "id": "NeteuUVaUz", "image": "img/unknowIMG.png" },
                    // { "title": "永康商圈", "id": "pSgKhOCA1v", "image": "img/unknowIMG.png" },
                    // { "title": "南西商圈", "id": "Hsbcp2EW3q", "image": "img/unknowIMG.png" },
                    // { "title": "南機場夜市", "id": "9wJ2mJ5Nnk", "image": "img/unknowIMG.png" },
                    // { "title": "逢甲夜市", "id": "qqFvrJu9SZ", "image": "img/unknowIMG.png" },
                    // { "title": "一中商圈", "id": "Gv3pcPS70k", "image": "img/unknowIMG.png" },
                    // { "title": "中友百貨商圈", "id": "UeZ0J7zZ5a", "image": "img/unknowIMG.png" },
                    // { "title": "草悟道商圈", "id": "m63bY8Aje4", "image": "img/unknowIMG.png" },
                    // { "title": "台中大遠百", "id": "FCWPLQocjc", "image": "img/unknowIMG.png" },
                    // { "title": "高雄瑞豐夜市", "id": "OTS6Ic9i8j", "image": "img/unknowIMG.png" },
                    // { "title": "六合夜市", "id": "2CvbhRWQHI", "image": "img/unknowIMG.png" },
                    // { "title": "夢時代商圈", "id": "oV17vKd7y7", "image": "img/unknowIMG.png" },
                    // { "title": "駁二藝術特區", "id": "6ANTYYEXJA", "image": "img/unknowIMG.png" },
                    // { "title": "安平老街", "id": "eDePCLLlXN", "image": "img/unknowIMG.png" }
                ],

                //食物類型
                FoodTypeList: [
                    // { "title": "中式", "id": "aYcwiNIy", "image": "img/foodtype/burger.png" },
                    // { "title": "西式", "id": "GNZmI5n8", "image": "img/foodtype/burger.png" },
                    // { "title": "日式", "id": "QgZ5styM", "image": "img/foodtype/burger.png" },
                    // { "title": "韓式", "id": "WHAOkS2g", "image": "img/foodtype/burger.png" },
                    // { "title": "泰式", "id": "sVsALrjJ", "image": "img/foodtype/burger.png" },
                    // { "title": "印度", "id": "TMzb36tq", "image": "img/foodtype/burger.png" },
                    // { "title": "法式", "id": "knrc3CTg", "image": "img/foodtype/burger.png" },
                    // { "title": "義式", "id": "60EC4bEp", "image": "img/foodtype/burger.png" },
                    // { "title": "墨式", "id": "3JGD29Pa", "image": "img/foodtype/burger.png" },
                    // { "title": "素食", "id": "gJFXhwBX", "image": "img/foodtype/burger.png" },
                    // { "title": "燒烤", "id": "K3CjavJi", "image": "img/foodtype/burger.png" },
                    // { "title": "海鮮", "id": "UYCpbdo8", "image": "img/foodtype/burger.png" },
                    // { "title": "甜品", "id": "fGOjDtrL", "image": "img/foodtype/burger.png" },
                    // { "title": "飲料", "id": "gThxxh6R", "image": "img/foodtype/burger.png" },
                    // { "title": "早餐", "id": "sQIZh8kg", "image": "img/foodtype/burger.png" }
                ],

                StoreList: [],

                fromStore: {
                    store: {
                        storeName: '',
                        storeId: '',
                        image: ''
                    },
                    nextAvailable: {
                        waitingTimeDisplay: ''
                    }
                },

                searchKeyword: ''

            }
        },
        mounted() {
            let vue = this

            initializeLiff("2006327628-8x1g1rAv")

            async function initializeLiff(liffId) {
                try {
                    await liff.init({ liffId });

                    // 如果未登入，執行登入
                    if (!liff.isLoggedIn()) {
                        // console.log("未登入，重新導向登入...");
                        liff.login();
                        return;
                    }

                    // 取得 LINE Profile（在登入後立即取得）
                    const profile = await liff.getProfile();
                    console.log("取得使用者資料：", profile);

                    apiWeb("/api/login/line/login",
                        "POST",
                        JSON.stringify({ lineid: profile.userId, username: profile.displayName }),
                        '驗證管理員資訊', function (v) {
                            if (v.message == "Login successful") {
                                let userInfo = {
                                    name: v.username,
                                    id: v.lineid,
                                    phoneNum: v.MobileNumber,
                                    linekey: v.lineid,
                                }
                                localStorage.userInfo = encryptObject(userInfo);

                                vue.userInfo = userInfo

                                //沒有手機號碼自動跳轉到編輯資訊頁
                                if (userInfo.phoneNum.length == 0) {
                                    window.location.href = 'userInfomationEdit.html'

                                } else {
                                    //資料初始化
                                    this.getLocation();


                                    //畫面初始化
                                    new Swiper(".swiper-container", {
                                        loop: false, // 無限輪播
                                        slidesPerView: 4, // 預設桌機 4 個
                                        spaceBetween: 10, // 間距
                                        navigation: {
                                            nextEl: ".custom-next-btn",
                                            prevEl: ".custom-prev-btn",
                                        },
                                        breakpoints: {
                                            1024: { slidesPerView: 5.5 },  // 桌機
                                            768: { slidesPerView: 4.3 },   // 平板
                                            480: { slidesPerView: 2.5 }, // 一般手機
                                            375: { slidesPerView: 2.5 }, // iPhone SE
                                            320: { slidesPerView: 2.2 }  // 超小手機
                                        },
                                    });
                                    new Swiper(".swiper-container-store", {
                                        loop: false, // 無限輪播
                                        slidesPerView: 1.5, // 預設桌機 4 個
                                        spaceBetween: 10, // 間距
                                        navigation: {
                                            nextEl: ".custom-next-btn",
                                            prevEl: ".custom-prev-btn",
                                        },
                                        breakpoints: {
                                            1024: { slidesPerView: 5.5 },  // 桌機
                                            768: { slidesPerView: 4.3 },   // 平板
                                            480: { slidesPerView: 2.5 }, // 一般手機
                                            375: { slidesPerView: 2.5 }, // iPhone SE
                                            320: { slidesPerView: 1.5 }  // 超小手機
                                        },
                                    });
                                    new Swiper(".swiper-container-foodtype", {
                                        loop: false, // 無限輪播
                                        slidesPerView: 12, // 預設桌機 4 個
                                        spaceBetween: 10, // 間距
                                        navigation: {
                                            nextEl: ".custom-next-btn",
                                            prevEl: ".custom-prev-btn",
                                        },
                                        breakpoints: {
                                            1024: { slidesPerView: 10.5 },  // 桌機
                                            768: { slidesPerView: 10.2 },   // 平板
                                            480: { slidesPerView: 4.5 }, // 一般手機
                                            375: { slidesPerView: 4.5 }, // iPhone SE
                                            320: { slidesPerView: 5.2 }  // 超小手機
                                        },
                                    });
                                }
                            }
                        })
                } catch (e) {
                    console.error("LIFF 初始化錯誤：", e);
                    alert("LIFF 初始化錯誤：" + JSON.stringify(e));
                }
            }
        },
        watch: {
        },

        methods: {
            getTimeOfDay() {
                const hour = moment().hour(); // 獲取當前小時（24 小時制）

                if (hour >= 5 && hour < 12) {
                    return "早安，";
                } else if (hour >= 12 && hour < 18) {
                    return "午安，";
                } else if (hour >= 18 || hour < 5) {
                    return "晚安，";
                } else {
                    return "你好，";
                }
            },
            // 獲取用戶位置並查詢附近店家
            getLocation() {
                loadingOn()
                this.loading = true;
                this.error = null;
                this.stores = [];

                // 檢查瀏覽器是否支持地理定位
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        // 成功獲取位置
                        (position) => {
                            this.currentCoords = {
                                latitude: position.coords.latitude,
                                longitude: position.coords.longitude,
                            };
                            // console.log("獲取位置成功:", this.currentCoords);
                            localStorage.latitude = this.currentCoords.latitude
                            localStorage.longitude = this.currentCoords.longitude

                            this.fetchNearbyStores();
                        },
                        // 獲取位置失敗
                        (error) => {
                            this.loading = false;
                            switch (error.code) {
                                case error.PERMISSION_DENIED:
                                    this.error =
                                        "您必須允許位置訪問才能使用本服務。請重新整理頁面並允許位置請求，或在瀏覽器設定中啟用位置服務。";
                                    this.showLocationInstructions();
                                    break;
                                case error.POSITION_UNAVAILABLE:
                                    this.error = "位置信息不可用，請確認您的設備GPS或位置服務已開啟";
                                    break;
                                case error.TIMEOUT:
                                    this.error = "請求位置超時，請檢查您的網絡連接並重試";
                                    break;
                                case error.UNKNOWN_ERROR:
                                    this.error = "發生未知錯誤，請重新整理頁面後再試";
                                    break;

                            }
                        },
                        // 選項
                        {
                            enableHighAccuracy: true, // 高精度
                            timeout: 10000, // 10秒超時
                            maximumAge: 0, // 不使用緩存
                        }
                    );
                } else {
                    this.loading = false;
                    this.error = "您的瀏覽器不支持地理定位，請使用支持地理定位的現代瀏覽器";
                }
            },

            // 顯示位置訪問指導
            showLocationInstructions() {
                // 根據不同瀏覽器顯示不同的指導
                const browser = this.detectBrowser();
                let instructions = "要使用本服務，您需要允許位置訪問。";

                if (browser === "chrome") {
                    instructions +=
                        " 在Chrome中，請點擊地址欄左側的鎖頭圖標，並將「位置」設置為「允許」。";
                } else if (browser === "firefox") {
                    instructions +=
                        " 在Firefox中，請點擊地址欄左側的信息圖標，並將「位置」設置為「允許」。";
                } else if (browser === "safari") {
                    instructions += " 在Safari中，請前往「設定 > Safari > 位置服務」並啟用。";
                }

                instructions += " 設置完成後，請重新整理頁面。";

                this.error = instructions;
            },

            // 檢測瀏覽器類型
            detectBrowser() {
                const userAgent = navigator.userAgent.toLowerCase();
                if (userAgent.indexOf("chrome") > -1) return "chrome";
                if (userAgent.indexOf("firefox") > -1) return "firefox";
                if (userAgent.indexOf("safari") > -1) return "safari";
                return "unknown";
            },

            // 重試獲取位置
            retryLocation() {
                this.getLocation();
            },

            // 獲得店家
            fetchNearbyStores() {
                var vue = this
                if (storeId) {
                    apiWeb('/api/Store/detail/' + storeId, 'GET', null, '透過鏈結進入首頁', function (v) {
                        // console.log(v);
                        vue.fromStore = v
                        // console.log('透過鏈結進入首頁--------', vue.fromStore);

                        vue.getTheTags(function () { vue.getOpeningStore(function () { loadingOff() }) })
                    })
                } else {
                    vue.getTheTags(function () { vue.getOpeningStore(function () { loadingOff() }) })

                }
            },

            //附近營業店家
            getOpeningStore(_func) {
                var vue = this
                apiWeb('/api/stores?openOnly=true&latitude=' + localStorage.latitude + '&longitude=' + localStorage.longitude + '&&radius=' + radius, 'GET', null, '獲得附近店家', function (v) {
                    if (v.success == true) {
                        // console.log(v.data);

                        vue.StoreList = v.data
                        // console.log(vue.StoreList);
                        if (_func) _func()
                    }
                })
            },

            //可用標籤
            getTheTags(_func) {
                var vue = this
                apiWeb('/api/tags/nearby?latitude=' + localStorage.latitude + '&longitude=' + localStorage.longitude + '&&radius=' + radius, 'GET', null, '獲得所有標籤', function (v) {
                    if (v.success == true) {
                        // console.log('v.data----------', v.data);

                        let tags = v.data

                        vue.BusinessDistrictList = tags.filter(tag => tag.type === "地區/商圈標籤");
                        // console.log(vue.BusinessDistrictList);

                        vue.FoodTypeList = tags.filter(tag => tag.type === "食物類別標籤");
                        vue.PromotionsList = tags.filter(tag => tag.type === "優惠專區標籤");

                        // vue.BusinessDistrictList = v.data
                        // console.log(vue.BusinessDistrictList);

                        // vue.PromotionsList = v.data
                        // vue.FoodTypeList = v.data
                        if (_func) _func()
                    }
                })
            },

            // 格式化距離顯示
            formatDistance(distance) {
                if (distance < 1) {
                    return `${Math.round(distance * 1000)} 公尺`;
                } else {
                    return `${distance.toFixed(1)} 公里`;
                }
            },

            //搜尋
            search() {
                window.location.href = "ClassImformation.html?kw=" + this.searchKeyword + '&ctype=關鍵字搜尋&cname=' + this.searchKeyword
            },

            //回傳等待時間
            getWaitingTimeString(timeint) {
                if (timeint) {
                    // console.log('getWaitingTimeString--------', timeint);


                    if (typeof timeint !== 'number') {
                        timeint = Number(timeint)
                    }

                    if (timeint < 60) {
                        return timeint + '-' + (timeint + 10)
                    } else {
                        return "60 分鐘以上"
                    }
                }
            }

        },
        computed: {

        }
    });
    app.mount("#app");
</script>

</html>