<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>共響 SHARING</title>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
  <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

  <!-- toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

  <script src="js/share2.js"></script>
  <link rel="stylesheet" href="css/share2.css" />

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
  </div>
  <div class="wrapper" id="app">
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a class="toIndex navbar-brand">
          <img src="img/logo2.svg" alt="AdminLTE Logo" class="" style="width: 200px;">
        </a>

        <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

        <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link toCart" data-toggle="dropdown">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge badge-primary navbar-badge">3</span>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">使用者功能</span>
              <div class="dropdown-divider"></div>
              <div v-for="(func,index) in userFunction">
                <a :href="func.url" class="dropdown-item">
                  {{func.name}}
                  <span class="float-right text-muted text-sm">
                    <i :class="func.icon"></i>
                  </span>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-12 text-center mb-3" v-if="IsNewOrder">
              <h1>{{PageTitle}} <span class="text-primary ml-2">#{{order.pickupNumber}}</span></h1>
              <img class="my-3" src="img/startup-outline 1.svg" />
              <!-- <p class="text-muted">下單時間：{{order.createDate}} {{order.createTime}}</p> -->
              <!-- <p class="text-muted">取餐時間：{{order.appointmentDate}} {{order.appointmentDate}}</p> -->
            </div>
            <div class="col-12 col-md-6 col-xl-5 mx-auto">
              <h1 class="m-0">{{order.storeName}}</h1>
              <div class="p-3">
                <p class="m-0 text-muted">
                  <i class="fas fa-map-marker-alt mr-2 text-secondary"></i>
                  {{order.storeaddress}}
                </p>
                <p class="m-0 text-muted">
                  <i class="fas fa-phone mr-2 text-secondary"></i>
                  {{order.storePhone}}
                </p>
              </div>

              <div class="px-3 py-2 disabled" :class="{
                'bg-success': order.status == 1,
                'bg-danger': order.status == 2
              }">
                <i class="fas fa-file-invoice-dollar mr-2"></i>
                {{order.statusName}}
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2">
                      <i class="fas fa-clock"></i>
                    </span>
                    <label for="IsTableware" class="m-0">下單時間</label>
                  </h6>
                  <div class="">
                    {{order.createDate}} {{order.createTime}}
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2">
                      <i class="fas fa-clock"></i>
                    </span>
                    <label for="IsTableware" class="m-0">取餐時間</label>
                  </h6>
                  <div class="">
                    {{order.appointmentDate}} {{order.appointmentDate}}
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-user-circle"></i></span>
                    <label for="UserInfo" class="m-0">訂購人資訊</label>

                  </h6>
                  <div class="text-right">
                    {{order.subscriberName}}<br />{{order.subscriberNumber}}
                  </div>
                </div>

              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-money-check-alt"></i></span>
                    <label for="UserInfo" class="m-0">付款方式</label>
                  </h6>
                  <template v-for="(item,index) in PaymentMethodsList">
                    <div v-if="item.value==order.paymentMethods">{{item.name}}</div>
                  </template>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary"><i class="fas fa-comment-dots"></i></span>
                    備註
                  </h6>
                  <div class="col-8 text-right">
                    {{order.remark}}
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-utensils"></i></span>
                    <label for="IsTableware" class="m-0">需要餐具</label>
                  </h6>
                  <div>
                    <div v-if="order.isTableware"><i class="fas fa-check-circle"></i></div>
                    <div v-if="!order.isTableware"><i class="fas fa-times"></i></div>
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-shopping-bag"></i></span>
                    <label for="IsTableware" class="m-0">塑膠袋數量</label>
                  </h6>
                  <div>
                    {{order.bag}}
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover" data-toggle="collapse" href="#orderCollapse" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-pizza-slice"></i></span>
                    <label for="IsTableware" class="m-0">訂單內容({{order.totalItems}})</label>
                  </h6>
                  <div>
                    <b class="mr-2">${{order.price}}</b>
                    <i class="fas fa-chevron-down float-right text-muted"></i>
                  </div>
                </div>
              </div>
              <div class="collapse" id="orderCollapse">
                <div class="itemOnlyHover p-3 border-bottom" v-for="(item,index) in order.orderModel" :key="index">
                  <h6>{{item.mealname}}<span class="float-right">${{item.price}}</span></h6>
                  <p class="text-muted text-sm m-0"><span
                      v-for="(option,opIndex) in item.options">{{option.title}}(${{option.extra}}),</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      <span class="float-right d-none d-sm-inline" id="version"></span>
      <!-- Default to the left -->
      <strong id="copyRight"></strong>
    </footer>
  </div>

</body>

<script>
  const app = Vue.createApp({
    data() {
      return {
        userFunction: userFunction,

        PageTitle: '下單成功',

        //原始資料
        userInfo: decryptObject(localStorage.userInfo),

        order: {
          "no": "",
          "name": "",
          "status": "",
          "price": 0,
          "storeName": "",
          "paymentMethods": "",
          "pickupNumber": "",
          "storeId": "",
          "memberId": "",
          "memberName": "",
          "statusName": "",
          "createDate": "",
          "createTime": "",
          "orderTime": "",
          "appointmentDate": "",
          "appointmentTime": "",
          "discount": 0,
          "menu": "",
          "isTableware": true,
          "remark": "",
          "bag": 0,
          "subscriberName": "",
          "subscriberNumber": "",
          "lineid": "",
          "storePhone": "",
          "orderInterval": 0,
          "storeEnable": true,
          "storeDeleted": false,
          "slotLimit": 0,
          "minimumOrderAmount": "",
          "minimumOrderText": ""
        },

        PaymentMethodsList: [
          {
            name: '現金',
            value: 'cash',
            enabled: true
          },
          // {
          //   name: 'LINE PAY',
          //   value: 'linepay',
          //   enabled: false
          // }
        ]
      }
    },
    mounted() {


      this.getOrderInfo()


    },
    watch: {

    },

    methods: {
      getOrderInfo() {

        if (orderId) {

          let data = {
            "No": orderId
          }
          let vue = this
          apiWeb('/api/store/order/detail/' + orderId, 'POST', null, '訂單資訊', function (v) {

            vue.order = v.orderDetail
            // console.log(vue.order);
            loadingOff()

          })
        } else {
          toastr.error('找不到訂單資訊');
        }
      },


    },
    computed: {
      IsNewOrder() {
        //完成訂單
        if (pageStatus == 1) {
          return true
        }
        //歷史訂單
        else {
          return false
        }
      }
    }
  });
  app.mount("#app");
</script>

</html>