<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>結帳</title>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

  <!-- Theme style -->
  <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
  <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

  <!-- toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

  <!-- datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

  <script src="js/share2.js"></script>
  <link rel="stylesheet" href="css/share2.css" />

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
  </div>
  <div class="wrapper" id="app">

    <div class="modal fade" id="payWindow" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="">
              確認訂單
            </h5>
          </div>
          <div class="modal-body">
            確定取餐時間為<b>{{toPayData.appointmentDate}} {{toPayData.appointmentTime}}</b>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">修改訂單</button>
            <button type="button" class="btn btn-primary" @click="Pay()">確定下單</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a class="toIndex navbar-brand">
          <img src="img/logo2.svg" alt="AdminLTE Logo" class="" style="width: 200px;">
        </a>

        <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

        <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link toCart" data-toggle="dropdown">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge badge-primary navbar-badge">3</span>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <span class="dropdown-header">使用者功能</span>
              <div class="dropdown-divider"></div>
              <div v-for="(func,index) in userFunction">
                <a :href="func.url" class="dropdown-item">
                  {{func.name}}
                  <span class="float-right text-muted text-sm">
                    <i :class="func.icon"></i>
                  </span>
                </a>
                <div class="dropdown-divider"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{{PageTitle}}</h1>
              <p class="m-0 text-muted">
                <i class="fas fa-map-marker-alt mr-2 text-secondary"></i>
                {{storeInfo.storeInfo.city}}
                {{storeInfo.storeInfo.districts}}
                {{storeInfo.storeInfo.shortAddress}}
              </p>
            </div>
            <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a class="toIndex">SHARING</a></li>
                <li class="breadcrumb-item">{{PageTitle}}</li>
              </ol>
            </div> -->
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-6">
              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2">
                      <i class="fas fa-clock"></i>
                    </span>
                    <label for="IsTableware" class="m-0">取餐時間</label>
                  </h6>
                </div>
                <div class="d-flex justify-content-between align-items-center m-0 pl-4">
                  <select v-model="takeTime.type" class="form-control form-control-sm w-auto mr-1">
                    <option value="0" id="nowOption">現在</option>
                    <option value="1">預定</option>
                  </select>
                  <select class="form-control form-control-sm mr-1" v-model="toPayData.appointmentDate"
                    :disabled="takeTime.type != 1">
                    <option v-for="(date,index) in dateList">{{date}}</option>
                  </select>
                  <select class="form-control form-control-sm mr-1" v-model="toPayData.appointmentTime"
                    :disabled="takeTime.type != 1">
                    <option v-for="(time,index) in timeList">{{time}}</option>
                  </select>
                </div>
                <!-- <input class="form-control datetimelocal form-control-sm col" :disabled="takeTime.type != 1"
                    :value="takeTime.datetime" placeholder="YYYY-MM-DD HH:mm"> -->
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-user-circle"></i></span>
                    <label for="UserInfo" class="m-0">訂購人資訊</label>

                  </h6>
                  <div>
                    <input type="checkbox" id="UserInfo" v-model="userInfoSync">
                    <span class="text-muted text-sm mr-2">同此帳號資料</span>
                  </div>
                </div>
                <div class="m-0 pl-4">
                  <div class="form-group p-0">
                    <label class="text-muted text-sm m-0">名稱</label>
                    <input class="form-control form-control-sm" :disabled="userInfoSync" v-model="toPayData.SubscriberName
                  ">
                  </div>
                  <div class="form-group p-0">
                    <label class="text-muted text-sm m-0">手機號碼</label>
                    <input class="form-control form-control-sm" :disabled="userInfoSync"
                      v-model="toPayData.SubscriberNumber">
                  </div>
                </div>
              </div>

              <div class="p-3">
                <h6 class="m-0">
                  <span class="text-primary mr-2"><i class="fas fa-receipt"></i></span>
                  訂單內容（{{cartCount}}）
                </h6>
                <div class="">
                  <h6 class="m-0 p-3 item" data-toggle="collapse" href="#MealsCollapse" role="button"
                    aria-expanded="false" aria-controls="MealsCollapse">
                    <span>共{{cartCount}}項</span>
                    <i class="fas fa-chevron-down float-right text-muted" aria-hidden="true"></i>
                    <span class="float-right mr-2 text-primary">${{getTotalPrice()}}</span>
                  </h6>
                  <div class="collapse" id="MealsCollapse">
                    <div class="p-3" v-for="(item,index) in cartList">
                      <p class="text-bold text-sm m-0">{{item.mealName}}
                        <span class="text-primary float-right">${{item.totalPrice}}</span>
                      </p>
                      <p class="text-muted m-0 text-xs">
                        <span
                          v-if="item.mealConfig.options[0].value.length>0">{{item.mealConfig.options[0].value}},</span>
                        <template v-for="(option,opIndex) in item.customConfig[0].options">
                          <span
                            v-for="(select,selectIndex) in option.content">{{select.title}}(+{{select.extra}}),</span>
                        </template>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <div class="item border-bottom p-3" v-for="(item,index) in cartList">
                <p class="text-bold m-0">{{item.mealName}} <span
                    class="float-right text-primary">${{item.totalPrice}}</span></p>
                <p class="text-muted m-0 text-xs">
                  <span v-if="item.mealConfig.options[0].value.length>0">{{item.mealConfig.options[0].value}},</span>
                  <template v-for="(option,opIndex) in item.customConfig[0].options">
                    <span v-for="(select,selectIndex) in option.content">{{select.title}}(+{{select.extra}}),</span>
                  </template>
                </p>
              </div>
              <div class="item p-3">
                <h6 class="m-0">總金額<span class="text-primary float-right">${{getTotalPrice}}</span></h6>
              </div> -->
              </div>
            </div>
            <div class="col-12 col-md-6 sticky-top" style="height: max-content">
              <div class="p-3">
                <h6 class="m-0">
                  <span class="text-primary mr-2"><i class="fas fa-money-check-alt"></i></span>
                  <label for="UserInfo" class="m-0">付款方式</label>
                </h6>
                <div class="item p-3 row" v-for="(item,index) in PaymentMethodsList"
                  :class="{ 'disabled': !item.enabled }">
                  <input type="radio" :value="item.value" :id="'PaymentMethods_' + item.value" name="PaymentMethods"
                    v-model="toPayData.PaymentMethods">
                  <label :for="'PaymentMethods_'+item.value" class="m-0 col">{{item.name}}</label>
                </div>
              </div>

              <div class="p-3 itemOnlyHover" v-if="cartList.length>0">
                <h6 class="m-0">
                  <span class="text-primary"><i class="fas fa-comment-dots"></i></span>
                  備註
                </h6>
                <div class="p-3">
                  <textarea class="form-control" v-model="toPayData.Remark" maxlength="50"></textarea>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-utensils"></i></span>
                    <label for="IsTableware" class="m-0">需要餐具</label>
                  </h6>
                  <div>
                    <span class="text-muted text-xs mr-2" v-show="toPayData.IsTableware">為了地球環保請盡量使用環保餐具</span>
                    <input type="checkbox" id="IsTableware" v-model="toPayData.IsTableware">
                  </div>
                </div>
              </div>

              <div class="p-3 itemOnlyHover">
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="m-0">
                    <span class="text-primary mr-2"><i class="fas fa-shopping-bag"></i></span>
                    <label for="IsPlacetic" class="m-0">塑膠袋</label>
                  </h6>
                  <select v-model="toPayData.Bag" class="form-control form-control-sm" style="width: max-content;">
                    <option value="0" selected>無需塑膠袋</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <!-- <input type="checkbox" class="float-right" id="IsPlacetic" v-model="toPayData.Bag"> -->
                  <!-- <span class="float-right text-muted text-sm mr-2" v-show="toPayData.Bag">+ $2</span> -->
                </div>

              </div>

              <div class="py-5 row m-0">
                <div class="col-6">
                  <div class="btn btn-block btn-secondary toCart">返回購物車</div>
                </div>
                <div class="col-6">
                  <div class="btn btn-block btn-primary" @click="ShowPayWindow">確認送出</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      <span class="float-right d-none d-sm-inline" id="version"></span>
      <!-- Default to the left -->
      <strong id="copyRight"></strong>
    </footer>
  </div>

</body>

<script>
  const app = Vue.createApp({
    data() {
      return {
        userFunction: userFunction,

        PageTitle: '',

        //原始資料
        userInfo: decryptObject(localStorage.userInfo),
        storeInfo: {
          "store": {
            "storeId": "",
            "storeName": "",
            "storePhone": "",
            "minOrderAmount": 0,
            "orderInterval": 0,
            "createdDate": "",
            "enable": true,
            "deleted": false,
            "id": 0,
            "slotLimit": 0,
            "amountLimit": 0
          },
          "storeInfo": {
            "storeId": "",
            "city": "",
            "districts": "",
            "shortAddress": "",
            "email": "",
            "tel": "",
            "businessNum": "",
            "introduction": "",
            "tags": [],
            "basicwaitingTime": "",
            "minimumOrderAmount": "",
            "minimumOrderText": "",
            "minimumOrderEnabled": true,
            "maxReservationDays": 0
          },
          "openTime": {
            "businessDays": [
              {
                "id": "",
                "title": "",
                "operation": true,
                "time": [
                  {
                    "open": "00:00",
                    "close": "00:00"
                  }
                ]
              },
            ],
            "specialCloseDays": [
              {
                "title": "",
                "date": ""
              },
            ]
          },
          "status": {
            "storeId": "",
            "isOpen": false,
            "closedReason": "",
            "lastUpdated": ""
          },
          "activeMenu": {
            "menuId": "",
            "menuName": "",
            "isActive": true,
            "createdDate": "",
            "itemCount": 0
          },
          "nextAvailable": {
            "time": "",
            "timeFormatted": ""
          }
        },

        cartList: localStorage.cart ? JSON.parse(localStorage.cart) : '',

        cartCount: 0,

        toPayData: {
          "MemberId": '',
          "StoreId": '',
          "Price": 0,
          "Discount": 0,
          'SubscriberName': '',
          'SubscriberNumber': '',
          "Menu": { meal: [] },
          "IsTableware": false,
          "IsOnlyPrice": false, //只想要取得目前訂單價格
          "PaymentMethods": "cash",
          "appointmentDate": '', //日期
          "appointmentTime": '', //時間
          'Remark': '',
          'Bag': '0'
        },


        userInfoSync: true,

        takeTime: {
          type: 0
        },
        availableSlots: [],
        dateList: [],
        timeList: [],

        PaymentMethodsList: [
          {
            name: '現金',
            value: 'cash',
            enabled: true
          },
          // {
          //   name: 'LINE PAY',
          //   value: 'linepay',
          //   enabled: false
          // }
        ]

      }
    },
    mounted() {

      // console.log(this.carstList);

      // console.log(this.userInfo);


      this.cartCount = this.cartList.length

      let vue = this
      apiWeb('/api/Store/detail/' + this.cartList[0].storeId, 'GET', null, '店家資訊', function (v) {
        // console.log(v);

        vue.PageTitle = v.store.storeName
        vue.storeInfo = v

        vue.toPayData.SubscriberName = vue.userInfo.name
        vue.toPayData.SubscriberNumber = vue.userInfo.phoneNum

        vue.toPayData.appointmentDate = moment().format('YYYY-MM-DD')

        if (vue.storeInfo.status.isOpen == false) {
          vue.takeTime.type = 1
          $('#nowOption').remove()
        }

        // console.log(vue.toPayData);


        apiWeb('/api/TimeSlot/GetAvailableSlots?storeId=' + storeId + '&date=' + vue.toPayData.appointmentDate + '&daysCount=' + v.storeInfo.maxReservationDays + '&onluAvailable=true', 'GET', null, '獲得可預定時間', function (v) {

          // console.log(v);
          vue.availableSlots = v.availableSlots


          vue.dateList = vue.availableSlots
            .map(item => item.date);

          vue.getTimeList(vue.toPayData.appointmentDate)


          loadingOff()
        });
      });


    },
    watch: {
      'toPayData.appointmentDate'(newVal) {
        this.getTimeList(newVal)
      },
      'takeTime.type'(newVal) {
        if (newVal == 0) {
          this.toPayData.appointmentDate = moment().format('YYYY-MM-DD')
          this.getTimeList(this.toPayData.appointmentDate)
        }
      }
    },

    methods: {

      ShowPayWindow() {
        $('#payWindow').modal('show')
      },

      Pay() {
        loadingOn()
        // const datePart = m.format("YYYY-MM-DD");
        // const timePart = m.format("HH:mm:ss");




        this.toPayData.MemberId = this.userInfo.id
        this.toPayData.StoreId = this.cartList[0].storeId
        this.toPayData.Menu.meal = this.cartList
        this.toPayData.Menu = JSON.stringify(this.toPayData.Menu)
        this.toPayData.IsOnlyPrice = false //只想要取得目前訂單價格
        this.toPayData.PaymentMethods = "cash"
        this.toPayData.Price = this.getTotalPrice()

        let data = JSON.parse(this.toPayData.Menu)
        data.meal.forEach(meal => {
          // 移除指定欄位
          delete meal.Price;
          delete meal.mealName;
          delete meal.storeId;
          delete meal.totalPrice;

          // mealId 轉字串
          // meal.mealId = String(meal.mealId);

          // mealConfig.options 裡的 price 移除
          if (meal.mealConfig?.options) {
            meal.mealConfig.options.forEach(option => {
              delete option.price;
            });
          }

          // customConfig.options 處理 TemplateID 和 extra
          if (meal.customConfig) {
            meal.customConfig.forEach(config => {
              if (config.options) {
                config.options.forEach(option => {
                  // 確保TemplateID存在且轉字串
                  if (option.TemplateID !== undefined && option.TemplateID !== null) {
                    option.TemplateID = option.TemplateID.toString();
                  }

                  if (option.content) {
                    option.content.forEach(contentItem => {
                      if (contentItem.extra !== undefined && contentItem.extra !== null) {
                        contentItem.extra = contentItem.extra.toString();
                      }
                    });
                  }
                });
              }
            });
          }

        });

        // console.log('data---------', data);
        this.toPayData.Menu = JSON.stringify(data)


        // console.log(this.toPayData.Menu == JSON.stringify(data));
        // console.log(this.toPayData)
        // console.log(JSON.stringify(data));


        apiWeb('/api/store/send/order', 'POST', JSON.stringify(this.toPayData), '送出訂單',
          function (v) {
            localStorage.removeItem('cart');
            window.location.href = "orderInfo.html?order=" + v.no + '&status=1'
          })

      },

      getTotalPrice() {
        let vue = this
        let totalPrice = total = vue.cartList.reduce((sum, meal) => {
          return sum + Number(meal.totalPrice);
        }, 0);
        if (vue.toPayData.IsPlacetic == true) {
          return totalPrice + 2
        } else {
          return totalPrice
        }
      },

      getTimeList(date) {
        // console.log(date);

        this.timeList = this.availableSlots.find(item => item.date == date)
          ?.slots.map(slot => slot.time) || []
        this.toPayData.appointmentTime = this.timeList[0]

        // console.log(this.timeList);
        // console.log(this.toPayData.appointmentTime);


      }

    },
    computed: {

    }
  });
  app.mount("#app");
</script>

</html>