<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>共響 SHARING</title>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/4de7eaf6aa.js" crossorigin="anonymous"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE3/dist/css/adminlte.min.css">
    <script src="AdminLTE3/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>

    <script src="js/share2.js?v101"></script>
    <link rel="stylesheet" href="css/share2.css" />

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>

    </style>
</head>

<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed" data-spy="scroll"
    data-target="#scrollProductor" data-offset="0" class="overflow-auto">
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="img/logo.svg" style="height: 15vh;">
    </div>
    <div class="wrapper" id="app">
        <div class="modal fade" id="AnnouncementModal" tabindex="-1" role="dialog" aria-labelledby=""
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">
                            <i class="fas fa-bullhorn mr-2"></i>店家公告
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="min-height: 30vh;">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="FoodModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">
                            <!-- <i class="fas fa-bullhorn mr-2"></i>店家公告 -->
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img :src="addData.image" v-if="addData.image">
                        <h3 class="m-0">{{addData.name}}</h3>
                        <p class="m-0">{{addData.remark}} </p>
                        <div class="row m-0">
                            <div class="col-12">
                                <!-- <h5>份量</h5> -->
                                <div class=" py-3">
                                    <div class="item" @click="clickMealConfig(item)"
                                        v-for="(item, index) in addData.mealConfig?.options?.[0]?.Items" :key="index"
                                        :class="{'selected-item':isMealConfigSelected(item.Name)}">

                                        <label :for="'mealConfig-' + index" class="w-100 m-0 py-2 px-3">
                                            {{ item.Name }}
                                            <span class="text-primary text-bold float-right">
                                                $ {{ item.Price }}
                                            </span>
                                        </label>
                                    </div>
                                </div>

                                <div class=" py-3" v-for="(item, index) in addData.customConfigDetails" :key="index">
                                    <h5>{{item.templateName}}
                                        <span class="text-primary text-sm" v-if="item.required">
                                            （必填）
                                        </span>
                                        <span class="text-primary text-sm" v-if="!item.required">
                                            （可選{{item.minChoices}}~{{item.maxChoices}}個項目）
                                        </span>
                                    </h5>
                                    <template v-for="(options,opIndex) in item.options">
                                        <div class="item mb-1" @click="clickOptions(item,options)"
                                            :class="{'selected-item':isOptionSelected(item,options)}">
                                            <label :for="'CustmonConfig-'+opIndex" class="w-100 m-0 py-2 px-3">
                                                {{ options.title }}
                                                <span class="text-primary text-bold float-right">
                                                    $ {{ options.extra }}
                                                </span>
                                            </label>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                        <button type="button" class="btn btn-primary btn-block" :disabled="!checkAddCartBtn()"
                            @click="AddCart">加入購物車（＄{{addToCart.totalPrice}}）</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a class="toIndex navbar-brand">
                    <img src="img/logo2.svg" alt="SHARING" class="" style="width: 200px;">
                </a>

                <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                <!-- <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">Some action </a></li>
                                <li><a href="#" class="dropdown-item">Some other action</a></li>

                                <li class="dropdown-divider"></li>

                <li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>
                </ul>
                </li>
                </ul>

            </div> -->


                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item">
                        <a class="nav-link toCart" data-toggle="dropdown">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-primary navbar-badge text-sm">{{cartCount}}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-user mr-2"></i>Hi, {{userInfo.name}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">使用者功能</span>
                            <div class="dropdown-divider"></div>
                            <div v-for="(func,index) in userFunction">
                                <a :href="func.url" class="dropdown-item">
                                    {{func.name}}
                                    <span class="float-right text-muted text-sm">
                                        <i :class="func.icon"></i>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content-wrapper">
            <div class="content-header p-0">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-12 px-0 overflow-hidden" style="max-height: 300px;">
                            <img :src="storeInfo.store.bannerimage||'img/unknowIMG.png'" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h1 class="m-0">{{ PageTitle }}
                                <span class="btn-xs btn btn-default mr-2"
                                    v-for="(tag, index) in storeInfo.storeInfo.tags" :key="index">
                                    <i class="fas fa-tags"></i>
                                    {{ tag }}
                                </span>
                            </h1>
                        </div>
                        <div class="col-12 p-0">
                            <!-- 營業時間 -->
                            <div class="p-3 item">
                                <h6 class="m-0" v-if="storeInfo.status.isOpen" data-toggle="collapse"
                                    href="#opentimeCollapse" role="button" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <i class="fas fa-clock mr-2 text-secondary"></i>
                                    <span class="text-success">營業中</span>
                                    <span>，預計等待時間
                                        <b>{{getMaxWaitingTime}}</b></span>
                                    <i class="fas fa-chevron-down float-right text-muted"></i>
                                </h6>
                                <h6 class="m-0" v-if="!storeInfo.status.isOpen" data-toggle="collapse"
                                    href="#opentimeCollapse" role="button" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <i class="fas fa-clock mr-2 text-secondary"></i> <span
                                        class="text-danger">休息中</span>
                                    <span class="text-muted text-sm">，下次可訂餐時間為
                                        <b>{{nextAvailabletime}}</b></span>
                                    <i class="fas fa-chevron-down float-right text-muted"></i>
                                </h6>
                                <div class="collapse" id="opentimeCollapse">
                                    <div class="p-2 ml-3">
                                        <template v-for="(day, dayIndex) in storeInfo.openTime.businessDays"
                                            :key="dayIndex">
                                            <div class="row m-0">
                                                <p class="col-3 col-md-1 p-0"
                                                    :class="{'text-bold text-primary': day.id === date.day}">{{
                                                    day.title
                                                    }}
                                                </p>
                                                <p :class="{'text-bold': day.id === date.day}"
                                                    class="text-muted col-9 p-0" v-if="day.operation==true">
                                                    <span v-for="(part, partIndex) in day.time" :key="partIndex">
                                                        {{ part.open }} - {{ part.close }}
                                                        <br v-if="partIndex !== day.time.length - 1" />
                                                    </span>
                                                </p>
                                                <p :class="{'text-bold': day.id === date.day}"
                                                    class="text-muted col-9 p-0" v-if="day.operation==false">
                                                    休息
                                                </p>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>

                            <!-- 地址 -->
                            <div class="p-3 btnHover item"
                                @click="OpenMap(storeInfo.storeInfo.city+storeInfo.storeInfo.districts+storeInfo.storeInfo.shortAddress)">
                                <h6 class="m-0">
                                    <i class="fas fa-map-marker-alt mr-2 text-secondary"></i>
                                    {{storeInfo.storeInfo.city}}
                                    {{storeInfo.storeInfo.districts}}
                                    {{storeInfo.storeInfo.shortAddress}}
                                    <!-- <div class="table-btn-div float-right">
                                        <button target="_blank" class="btn btn-xs btn-default"
                                            @click="OpenMap(storeInfo.storeInfo.city+storeInfo.storeInfo.districts+storeInfo.storeInfo.shortAddress)">
                                            <i class="fas fa-share-square"></i>
                                        </button>
                                    </div> -->
                                </h6>
                            </div>

                            <!-- 電話 -->
                            <div class="p-3 item" v-if="storeInfo.storeInfo.tel">
                                <a :href="'tel:' + storeInfo.storeInfo.tel">
                                    <h6 class="m-0">
                                        <i class="fas fa-phone mr-2 text-secondary"></i>
                                        {{ storeInfo.storeInfo.tel }}
                                    </h6>
                                </a>
                            </div>

                            <!-- 搜尋 -->
                            <div class="p-3 pt-0" v-if="productorData.length>0">
                                <form class="Myinput-group" @submit.prevent="searchProductors">
                                    <input type="search" class="" placeholder="搜尋料理" v-model="searchKeyword">
                                    <button type="submit" class="btn" :disabled="searchKeyword.length==0">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <!-- 餐點 -->
                        <div class="col-12 p-0">
                            <div class="col-12" v-if="productorData.length==0&&disabledType=='List'">
                                <div class="emptyImage emptyImage1"></div>
                                <p class="text-center">沒有上架餐點，
                                    <button class="ml-2 btn btn-primary toIndex" type="button">
                                        返回首頁
                                    </button>
                                </p>
                            </div>
                            <nav v-if="productorData.length>0&&disabledType=='List'" id="scrollProductor"
                                class="navbar navbar-light sticky-top">
                                <ul class="nav nav-pills">
                                    <template v-for="(group,index) in productorData" :key="group.categoryId">
                                        <li class="nav-item" v-if="group.productors.length>0">
                                            <a class="nav-link"
                                                :href="'#scroll'+group.categoryId">{{group.categoryName}}</a>
                                        </li>
                                    </template>
                                </ul>
                            </nav>
                            <div v-if="productorData.length>0&&disabledType=='List'" id="scrollProductor-content"
                                class="p-3 mb-5">
                                <template v-for="(group,index) in productorData">
                                    <div class="mb-3" :id="'scroll'+group.categoryId" v-if="group.productors.length>0">
                                        <h4>{{group.categoryName}}</h4>
                                        <div class="row m-0">
                                            <template v-for="(item,itemIndex) in group.productors">
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="card" @click="showAddCartModal(group.categoryId,item.mealId
                                                    )">
                                                        <div class="card-body p-2 row m-0">
                                                            <div class="col-3 p-0">
                                                                <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1 unknowIMG"
                                                                    style="overflow: hidden;"
                                                                    :class="{ 'unknowIMGMeal': !item.image }">
                                                                    <img class="border w-100" :src="item.image">
                                                                </div>
                                                            </div>
                                                            <div class="col-9 pt-2">
                                                                <h6 class="m-0">{{item.name}}
                                                                    <span class="float-right text-primary text-bold">$
                                                                        {{item.price}}
                                                                    </span>
                                                                </h6>
                                                                <p class="text-muted text-sm m-0">
                                                                    {{item.remark}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                            </div>

                            <div v-if="disabledType=='Search'&&searchList.length>0">
                                <!-- <button class="btn btn-default btn-sm">返回</button> -->
                                <h5> 共有 {{searchCount}} 項餐點：</h5>

                                <template v-for="(group,index) in searchList">
                                    <div class="mb-3" :id="'scroll'+group.categoryId" v-if="group.productors.length>0">
                                        <h4>{{group.categoryName}}</h4>
                                        <div class="row m-0">
                                            <template v-for="(item,itemIndex) in group.productors">
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="card" @click="showAddCartModal(group.categoryId,item.mealId
                                                    )">
                                                        <div class="card-body p-2 row m-0">
                                                            <div class="col-3 p-0">
                                                                <div class="d-flex justify-content-center embed-responsive embed-responsive-1by1"
                                                                    style="overflow: hidden;"
                                                                    :class="{ 'unknowIMGMeal': !item.image }">
                                                                    <img class="border w-100" :src="item.image">
                                                                </div>
                                                            </div>
                                                            <div class="col-9 pt-2">
                                                                <h6 class="m-0">{{item.name}}
                                                                    <span class="float-right text-primary text-bold">$
                                                                        {{item.price}}
                                                                    </span>
                                                                </h6>
                                                                <p class="text-muted text-sm m-0">
                                                                    {{item.remark}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="" class="fixRightSide" v-if="cartCount>0">
                <a class="btn btn-lg btn-secondary toCart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge badge-primary navbar-badge text-md">{{cartCount}}</span>
                    <span class="d-none d-lg-inline-block">查看購物車</span>
                </a>
            </div>
        </div>

        <footer class="main-footer">
            <span class="float-right d-none d-sm-inline" id="version"></span>
            <strong id="copyRight"></strong>
        </footer>
    </div>

</body>

<script>
    const app = Vue.createApp({
        data() {
            return {
                userFunction: userFunction,

                PageTitle: '',
                ClassGroup: '',

                //原始資料
                userInfo: decryptObject(localStorage.userInfo),
                cartCount: localStorage.cart ? JSON.parse(localStorage.cart).length : '',

                date: {
                    day: 0
                },

                storeInfo: {
                    "store": {
                        "storeId": "",
                        "storeName": "",
                        "storePhone": "",
                        "minOrderAmount": 0,
                        "orderInterval": 0,
                        "createdDate": "",
                        "enable": true,
                        "deleted": false,
                        "id": 0,
                        "slotLimit": 0,
                        "amountLimit": 0
                    },
                    "storeInfo": {
                        "storeId": "",
                        "city": "",
                        "districts": "",
                        "shortAddress": "",
                        "email": "",
                        "tel": "",
                        "businessNum": "",
                        "introduction": "",
                        "tags": [],
                        "basicwaitingTime": "",
                        "minimumOrderAmount": "",
                        "minimumOrderText": "",
                        "minimumOrderEnabled": true,
                        "maxReservationDays": 0
                    },
                    "openTime": {
                        "businessDays": [
                            {
                                "id": "",
                                "title": "",
                                "operation": true,
                                "time": [
                                    {
                                        "open": "00:00",
                                        "close": "00:00"
                                    }
                                ]
                            },
                        ],
                        "specialCloseDays": [
                            {
                                "title": "",
                                "date": ""
                            },
                        ]
                    },
                    "status": {
                        "storeId": "",
                        "isOpen": false,
                        "closedReason": "",
                        "lastUpdated": ""
                    },
                    "activeMenu": {
                        "menuId": "",
                        "menuName": "",
                        "isActive": true,
                        "createdDate": "",
                        "itemCount": 0
                    },
                    "nextAvailable": {
                        "time": "",
                        "timeFormatted": ""
                    }
                },

                addData: {

                },

                addToCart: {
                    "mealId": "",
                    "mealConfig": {
                        "options": [
                            {
                                "key": "尺寸",
                                "value": "",
                                price: ''
                            }
                        ]
                    },
                    "customConfig": [
                        {
                            "options": [
                                {
                                    "TemplateID": "",
                                    "content": [
                                        {
                                            "title": "",
                                            "extra": "0"
                                        }
                                    ]
                                }
                            ]
                        }
                    ],
                    price: 0,
                    totalPrice: 0,
                    storeId: '',
                    mealName: ''
                },

                productorData: [],
                searchKeyword: '',

                disabledType: 'List',//現在顯示的區塊（List / Search）

                searchList: [],
                searchCount: 0,
            }
        },
        mounted() {
            this.getStoreInfo()
        },
        watch: {
            addToCart: {
                handler(newVal) {
                    console.log(newVal);

                    let total = newVal.price;

                    newVal.customConfig.forEach(config => {
                        config.options.forEach(option => {
                            option.content.forEach(item => {
                                total += parseFloat(item.extra || 0);
                            });
                        });
                    });

                    this.addToCart.totalPrice = total + newVal.mealConfig.options[0].price;
                },
                deep: true
            },
            searchKeyword(newVal) {
                if (newVal.length == 0) [
                    this.disabledType = 'List'
                ]
            }
        },

        methods: {
            //取得產品清單
            getProductorList() {
                var vue = this;
                apiWeb('/api/Meal/category/' + storeId, 'GET', null, '獲得分類', function (v) {
                    if (v.success == true) {
                        vue.ClassList = v.categories;
                        apiWeb('/api/Meal/user/' + storeId, 'GET', null, '獲得品項', function (v) {
                            if (v.success == true) {
                                // console.log('/api/Meal/user/-----', v);

                                vue.ProductList = v.meals;
                                vue.productorData = vue.ClassList.map(category => ({
                                    categoryId: category.categoryId,
                                    categoryName: category.categoryName,
                                    productors: vue.ProductList.filter(product => product.categoryId === category.categoryId)
                                }));
                                // console.log(vue.productorData);
                                setTimeout(() => {
                                    vue.adjustHeight()
                                    loadingOff()
                                }, 1000);
                            } else {
                                GetDataError('獲得品項資料')
                            }
                        });
                    } else {
                        GetDataError('獲得分類資料')
                    }
                });
            },
            getStoreInfo() {
                var vue = this
                apiWeb('api/Store/detail/' + storeId, 'GET', null, '取得店家資訊', function (v) {
                    vue.storeInfo = v
                    // console.log(v);
                    vue.PageTitle = vue.storeInfo.store.storeName
                    vue.date.day = moment().format('ddd')
                    // console.log(this.date.day);
                    // console.log(vue.storeInfo.storeInfo.introduction);
                    // console.log(vue.storeInfo);
                    if (vue.storeInfo.storeInfo.introduction !== "<p><br></p>") {
                        $('#AnnouncementModal .modal-body').html(vue.storeInfo.storeInfo.introduction)
                        $('#AnnouncementModal').modal('show')
                    }
                    // loadingOff()
                    vue.getProductorList()
                })
            },

            //link to google map
            OpenMap(address) {
                if (!address) {
                    console.error("地址為空，無法開啟地圖");
                    return;
                }

                // 使用 encodeURIComponent 確保網址安全
                const encodedAddress = encodeURIComponent(address);
                const mapUrl = `https://www.google.com/maps/place/${encodedAddress}`;

                // 開啟新視窗 (新分頁)
                window.open(mapUrl, '_blank');
            },

            //搜尋餐點
            searchProductors() {
                loadingOn()
                var vue = this
                apiWeb('api/Meal/' + storeId + '/search?keyword=' + this.searchKeyword, 'GET', null, '搜尋品項：' + this.searchKeyword, function (v) {
                    vue.disabledType = 'Search'
                    vue.searchCount = v.meals.length
                    if (vue.searchCount != 0) {
                        // vue.searchList = vue.ClassList.map(category => ({
                        //     categoryId: category.categoryId,
                        //     categoryName: category.categoryName,
                        //     productors: v.meals.filter(product => product.categoryId === category.categoryId)
                        // }));
                        vue.searchList = v.meals;
                        vue.searchList = vue.ClassList.map(category => ({
                            categoryId: category.categoryId,
                            categoryName: category.categoryName,
                            productors: vue.searchList.filter(product => product.categoryId === category.categoryId)
                        }));

                        // console.log(vue.searchList);

                    } else {
                        vue.searchList = []
                    }
                    loadingOff()

                    // console.log(vue.searchList.length);
                })
            },

            adjustHeight() {
                var navbarHeight = $('#scrollProductor').outerHeight(); // 獲取 #scrollProductor 的高度
                var footerHeight = $('.main-footer').outerHeight()

                // console.log('Height-----------', navbarHeight, footerHeight);

                var newMaxHeight = `calc(100vh - ${navbarHeight}px - ${footerHeight}px)`; // 計算新的 max-height

                // console.log('Height-----------' + newMaxHeight);

                // $('#scrollProductor-content').get(0).style.setProperty('max-height', newMaxHeight); // 設定 max-height
                // $('#scrollProductor-content').get(0).style.setProperty('padding-top', navbarHeight + 20 + 'px', 'important');
            },

            //初始化品項顯示視窗
            showAddCartModal(GroupId, MealId) {
                // console.log(GroupId, MealId);

                const category = this.productorData.find(c => c.categoryId === GroupId);
                const meal = category?.productors.find(m => m.mealId === MealId);

                // console.log('meal----------', meal);
                this.addData = JSON.parse(JSON.stringify(meal))

                // console.log(JSON.stringify(this.addData));

                this.addToCart.mealId = this.addData.mealId
                this.addToCart.mealConfig.options = [
                    {
                        "key": "尺寸",
                        "value": "",
                        "price": 0
                    }
                ]
                this.addToCart.customConfig[0].options = []
                this.addToCart.price = this.addData.price
                this.addToCart.totalPrice = this.addData.price
                this.addToCart.storeId = storeId
                this.addToCart.mealName = this.addData.name

                let vue = this
                for (var a = 0; a < this.addData.customConfigDetails.length; a++) {
                    var s = {
                        "TemplateID": this.addData.customConfigDetails[a].templateId,
                        "content": []
                    }
                    vue.addToCart.customConfig[0].options.push(s)
                }
                // console.log(this.addToCart);
                $('#FoodModal').modal('show')
            },

            //選擇尺寸
            clickMealConfig(data) {
                // console.log(data);
                this.addToCart.mealConfig.options[0].value = data.Name
                this.addToCart.mealConfig.options[0].price = data.Price
                // console.log(this.addToCart);
            },
            //確認尺寸
            isMealConfigSelected(Name) {
                return this.addToCart.mealConfig.options[0].value === Name;
            },

            //選擇客製化選項
            clickOptions(dataTemplate, dataOption) {
                // console.log(dataTemplate);
                // console.log(dataOption);
                const templateId = dataTemplate.templateId;
                const titleToToggle = dataOption.title;
                const extraToToggle = dataOption.extra;
                const max = dataTemplate.maxChoices
                const min = dataTemplate.minChoices


                dataOption.min
                this.addToCart.customConfig.forEach(config => {
                    config.options.forEach(option => {
                        if (option.TemplateID === templateId) {
                            if (dataTemplate.type === 0) {
                                // 單選：永遠只保留一個，無論有沒有點中目前的
                                option.content = [{
                                    title: titleToToggle,
                                    extra: extraToToggle
                                }];
                            } else if (dataTemplate.type === 1) {

                                // 多選：toggle 模式
                                const index = option.content.findIndex(c => c.title === titleToToggle);

                                if (index !== -1) {
                                    option.content.splice(index, 1); // 已有 → 移除
                                } else {
                                    if (option.content.length < max) {
                                        option.content.push({
                                            title: titleToToggle,
                                            extra: extraToToggle
                                        }); // 沒有 → 加入
                                    }
                                }
                            }
                        }
                    });
                });
                // console.log(this.addToCart);
            },
            //確認選項
            isOptionSelected(dataTemplate, dataOption) {
                const templateId = dataTemplate.templateId;
                const title = dataOption.title;

                for (const config of this.addToCart.customConfig) {
                    for (const option of config.options) {
                        if (option.TemplateID === templateId) {
                            return option.content.some(c => c.title === title);
                        }
                    }
                }

                return false; // 如果沒找到對應 TemplateID 或 content 中沒這 title
            },

            checkAddCartBtn() {
                // console.log(this.addData);
                // console.log(this.addToCart);
                let mealConfig = this.validateMealConfig()
                //檢查尺寸
                let customConfig = this.validateCustomConfig()
                // console.log(mealConfig)
                // console.log(customConfig);
                return (mealConfig && customConfig)
            },
            validateMealConfig() {
                if (this.addData.mealConfig) {
                    // console.log(this.addData.mealConfig.options);
                    // console.log(this.addData);
                    if (this.addData.mealConfig.options) {
                        // console.log(this.productorData);
                        return this.addToCart.mealConfig.options[0].value ? true : false
                    } else {
                        return true
                    }
                }
            },
            validateCustomConfig() {
                if (this.addData.customConfigDetails) {
                    // console.log(this.addData.customConfigDetails);
                    if (this.addData.customConfigDetails.length > 0) {
                        const requiredConfigs = this.addData.customConfigDetails.filter(config => config.required);

                        const cartOptions = {};
                        (this.addToCart.customConfig[0]?.options || []).forEach(option => {
                            cartOptions[option.TemplateID] = option.content;
                        });

                        for (const config of requiredConfigs) {
                            const content = cartOptions[config.templateId];
                            if (!Array.isArray(content) || content.length === 0) {
                                return false;
                            }
                        }

                        return true;
                    } else {
                        return true;
                    }
                }
            },
            // 加入購物s車
            AddCart() {
                let cart = []
                if (localStorage.cart) {
                    try {
                        cart = JSON.parse(localStorage.cart)
                        if (!Array.isArray(cart)) {
                            cart = []
                        }
                    } catch (e) {
                        cart = []
                    }
                }
                if (cart.length > 0 && cart[0].storeId != this.addToCart.storeId) {
                    localStorage.cart = ''
                    cart = []
                    toastr.success("購物車內餐店並非該店家，已清空並新增進購物車");
                } else {
                    toastr.success("加入購物車成功");

                }

                // 加入當前品項
                cart.push(this.addToCart)
                localStorage.cart = JSON.stringify(cart)
                this.cartCount = JSON.parse(localStorage.cart).length
                $('#FoodModal').modal('hide')



            }
        },
        computed: {
            getMaxWaitingTime() {
                if (this.storeInfo.nextAvailable.waitingTimeDisplay == "over 60 min") {
                    return '超過一小時'
                } else {
                    let min = Number(this.storeInfo.nextAvailable.waitingTimeDisplay)
                    let max = min + 10
                    let a = min + '-' + max
                    return a + '分鐘'
                }
            },

            nextAvailabletime() {
                let nextAvailableDate = moment(this.storeInfo.nextAvailable.timeFormatted).format('YYYY-MM-DD')
                let nextAvailableTime = moment(this.storeInfo.nextAvailable.timeFormatted).format('HH:mm')
                // console.log(nextAvailableDate + ' ' + nextAvailableTime);

                if (moment().format('YYYY-MM-DD') == nextAvailableDate) {
                    return '今天' + nextAvailableTime
                } else {
                    return nextAvailableDate + ' ' + nextAvailableTime
                }

            }
        }
    });
    app.mount("#app");

</script>

</html>