:root {
    --mainColor: #d59c42;
    --mainColor50: #d59c4250;
    --mainColor20: #d59c4220;
    --importColor: #9f4900;
    --supColor: #d7d7d7;
    --link: #006be9;
    --bg: #ffffff;
    --danger: #c80000;
    --succese: #17c800;
    --fontLV1: #3c3c3c;
    --fontLV2: #696969;
    --fontWhite: #ffffff;
    --placeHolder: #d59d4264;

    --titleSize: 24px;
    --titleLineHeight: 30px;

    --text-defaultSize: 16px;
    --text-defaultLineHeight: 22px;
    --text-memoSize: 12px;
    --text-memoLineHeight: 18px;

    --btn-bigSize: 18px;
    --btn-bigLineHeight: 30px;
    --btn-nomalSize: 12px;
    --btn-nomalLineHeight: 20px;
    --btn-smallSize: 12px;
    --btn-smallLineHeight: 20px;

    --tabSize: 12px;
    --tabLineHeight: 20px;

    --inputSize: 12px;
    --inputLineHeight: 14px;
}
